{% extends "base.html" %}
{% load static %}
{% load user_tags %}
{% block content %}

  <script>
    $(document).ready(function () {
      $(".datetimepicker").datetimepicker({
        format: 'd/m/Y H:i',
      });
    });
  </script>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/"><i class="fas fa-university fa-lg"></i></a></li>
      <li class="breadcrumb-item"><a href="{% url 'complexes:complexes_DigitalComplex_list' %}">Список ЭУМК</a></li>
      <li class="breadcrumb-item active" aria-current="page">Паспорт ЭУМК</li>
    </ol>
  </nav>
  <div class="row p-2">
    <div class="col-12 col-md-6 col-lg-7 col-xl-8 p-2">
      <h2>Заявка на экспертизу ЭОР "{{ object.digital_resource.title }}"</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.errors }}
        <div class="form-group">
          <label>Инициатор</label>
          <div class="ui segment">
            <p>{{ object.owner }}</p>
          </div>
        </div>
        <div class="form-group">
          <label>Дата заявки</label>
          <div class="ui segment">
            <p>{{ object.created }}</p>
          </div>
        </div>
        <div class="form-group">
          <label>{{ form.subjects.label }}</label>
          <div class="ui segment">
            {% if object.subjects.all %}
              {% for obj in object.subjects.all %}
                <p>{{ obj }}</p>
              {% endfor %}
            {% else %}
              <h4>{{ form.subjects.label }} отсутсвуют</h4>
            {% endif %}
          </div>
        </div>
        <div class="form-group">
          <label>{{ form.directions.label }}</label>
          <div class="ui segment">
            {% if object.directions.all %}
              {% for obj in object.directions.all %}
                <li style="list-style-type: none;">{{ obj }}</li>
              {% endfor %}
            {% else %}
              <h4>{{ form.directions.label }} отсутсвуют</h4>
            {% endif %}
          </div>
        </div>
        <div class="form-group">
          <label>{{ form.digital_complexes.label }}</label>
          <div class="ui segment">
            {% if object.digital_complexes.all %}
              {% for obj in object.digital_complexes.all %}
                <li style="list-style-type: none;">{{ obj }}</li>
              {% endfor %}
            {% else %}
              <h4>{{ form.digital_complexes.label }} отсутсвуют</h4>
            {% endif %}
          </div>
        </div>
        <div class="form-group">
          <label>Экспертные заключения</label>
          <a class="btn btn-secondary"
             href="{% url 'inspections:inspections_ExpertiseRequest_create' digital_resource_pk=object.digital_resource.pk expertise_pk=object.pk %}">Назначить
            эксперта</a>
          {% if expertise_request.all is not None %}
            <table class="table table-striped table-bordered">
              <thead>
              <h5>Экспертизы: </h5>
              <tr>
                <th>Тип</th>
                <th>Эксперт</th>
                <th>Статус</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% for item in expertise_request.all %}
                {% if item.survey %}
                  <tr>
                  <td>{{ item.survey }}</td>
                  <td>{{ item.expert }}</td>
                  <td>{{ item.get_status_display }}</td>
                  <td><a class=""
                         href="{% url 'inspections:inspections_ExpertiseRequestClose_detail' pk=item.pk %}"><i
                          class="fas fa-info-circle fa-lg"></i> Подробнее</a>
                  </td>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            Экспертизы отсутвуют
          {% endif %}
        </div>
        <div class="form-group">
          <label>{{ form.date_end.label }}</label>
          {{ form.date_end }}
        </div>
        <div class="form-group">
          <label>{{ form.file.label }}</label>
          {{ form.file }}
        </div>
        <div class="form-group">
          <label>{{ form.remarks.label }}</label>
          {{ form.remarks }}
        </div>
        <div class="form-group">
          <label>{{ form.status.label }}</label>
          {{ form.status }}
        </div>
        <input type="submit" value="Завершить экспертизу" class="btn btn-primary">
        <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Отмена</a>
      </form>
    </div>
  </div>

{% endblock %}
