{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-2 pb-0">
      <li class="breadcrumb-item"><a href="/"><i class="home icon"></i></a></li>
      <li class="breadcrumb-item"><a href="/">Список ЭОР</a></li>
      <li class="breadcrumb-item"><a href="{% url 'repository:repository_DigitalResource_detail' pk=dig_res.pk %}">Паспорт
        ЭОР: {{ dig_res }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Заявка на экспертизу ресурса</li>
    </ol>
  </nav>
  <header class="pb-4 px-2">
    <h1>Заявка на экспертизу ЭОР "{{ dig_res }}"</h1>
  </header>
  <div class="row p-2">
    <div class="col-12 p-2">
      <div class="card h-100 shadow-1">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.errors }}
            {{ form.non_field_errors }}
            {{ form.media.css }}
            <div class="form-group">
              <label>{{ form.type.label }}</label>
              {{ form.type }}
            </div>
            <div class="form-group">
              <label>{{ form.subjects.label }}</label>
              {{ form.subjects }}
              <p class="text-muted">Начните вводить название дисциплины.</p>
            </div>
            <div class="form-group">
              {{ form.directions.help_texts }}
              <label>{{ form.directions.label }}</label>
              {{ form.directions }}
              <p class="text-muted">Начните вводить название направления или код направления.</p>
            </div>
            <div class="form-group">
              <label>{{ form.digital_complexes.label }}</label>
              {{ form.digital_complexes }}
              <p class="text-muted">Начните вводить ключевые слова или формат использования.</p>
            </div>
            <input type="submit" value="Подать заявку" class="btn btn-primary">
            <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Отмена</a>
          </form>
          {{ form.media.js }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
