{% block content %}
  <div class="ui segment container">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Заявка на экспертизу ЭОР ""</h3>
          <a class="btn btn-primary" href="">Паспорт ЭОР</a>
          <p>Тип заявки: {{ person.last_name }}</p>
          <p>Инициатор: {{ person.country }}</p>
          <p>Дисциплина(ы): {{ person.city }}</p>
          <p>Направление подготовки/Образовательная программа: {{ person.location }}</p>
          <p>ЭМУК: {{ person.date_birthday }}</p>
          <p>Вид экспертизы: {{ object.type }}</p>
          <p>Подразделение/отрасль: {{ object.subdivision }}</p>
        </div>
        <a class="btn btn-primary" href="">Взять на экспертизу</a>
        <p>Экспертные заключения: {{ object.type }}</p>
      </div>
    </div>
  </div>
{% endblock content %}
