{% extends "base.html" %}
{% load static crispy_forms_tags widget_tweaks bootstrap_icons %}
{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/">{% md_icon "bank-outline" %}</a></li>
      {#      <li class="breadcrumb-item"><a href="/">Каталог ЭОР</a></li>#}
      {#      <li class="breadcrumb-item"><a href="/">Паспорт ЭОР: {{ dig_res }}</a></li>#}
      <li class="breadcrumb-item active" aria-current="page">Заявка на экспертизу
        "{{ object.expertise.digital_resource }}"
      </li>
    </ol>
  </nav>
  <header><h1 class="display-3">Заявка на экспертизу <br/>{{ object.expertise.digital_resource }}</h1></header>
  <div class="row p-2">
    <div class="col-12 p-2">
      <div class="card h-100 border-secondary shadow-2">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.errors }}
            {{ form.non_field_errors }}
            {{ form.media.css }}
            <a class="btn btn-outline-primary position-absolute" style="right: 2em;"
               href="{% url 'repository:repository_DigitalResource_detail' pk=object.expertise.digital_resource.pk %}"><i
              class="fas fa-passport fa-lg"></i> Паспорт ЭОР</a>
            <dl class="row">
              <dt class="col-sm-3">Тип заявки</dt>
              <dd class="col-sm-9">{{ object.expertise.get_type_display }}</dd>
            </dl>
            <dl class="row">
              <dt class="col-sm-3">Инициатор</dt>
              <dd class="col-sm-9">{{ object.expertise.owner }}</dd>
            </dl>
            <dl class="row">
              <dt class="col-sm-3">Дата заявки</dt>
              <dd class="col-sm-9">{{ object.expertise.date }}</dd>
            </dl>
            <dl class="row">
              <dt class="col-sm-3">Дисциплина(ы)</dt>
              <dd class="col-sm-9">
                {% for subject in object.expertise.subjects.all %}
                  {{ subject }}<br>
                {% endfor %}
              </dd>
            </dl>
            <dl class="row">
              <dt class="col-sm-3">Направления подготовки/Образовательная программа</dt>
              <dd class="col-sm-9">
                {% for direction in object.expertise.directions.all %}
                  {{ direction }}<br>
                {% endfor %}
              </dd>
            </dl>
            <dl class="row">
              <dt class="col-sm-3">ЭУМК</dt>
              <dd class="col-sm-9">

                {% for digital_complex in object.expertise.digital_complexes.all %}
                  <a class="btn btn-outline-link pl-0"
                     href="{% url 'complexes:complexes_DigitalComplex_detail' pk=digital_complex.pk %}"><i
                    class="fas fa-link"></i> {{ digital_complex }}</a>
                {% empty %}
                  <span class="text-muted">отсутствуют</span>
                {% endfor %}
              </dd>
            </dl>

            <h5>Тип экспертизы</h5>
            {% render_field form.survey class+="form-select form-control mb-3" %}
            <button type="submit" class="btn btn-primary">Взять на экспертизу</button>
            <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Отмена</a>
          </form>

        </div>
      </diV>
    </div>
  </div>
  <div class="card border-secondary h-100 shadow-2">
    <diV class="card-body shadow-1">
      <div class="form-group">
        <h5>Экспертные заключения</h5>
        {% if checklists.all %}
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Тип экспертизы</th>
              <th>Дата экспертизы</th>
              <th>Эксперт</th>
              <th>Состояние</th>
            </tr>
            </thead>
            {% for item in checklists %}
              <tbody>
              <td>{{ item.survey }}</td>
              <td>{% if item.date %}{{ item.date }}{% else %}Экспертиза не проведена{% endif %}</td>
              <td>{{ item.expert }}</td>
              <td>{{ item.get_status_display }}</td>
              </tbody>
            {% endfor %}
          </table>
        {% else %}
          <p class="text-muted">отсутствуют</p>
        {% endif %}
      </div>
    </div>
    {{ form.media.js }}
  </div>
  <td><a class="btn btn-outline-primary text-nowrap mt-3" href="{% url "inspections:inspections_ExpertiseMyClose_list" uuid=object.pk %}"><i class="fas fa-info-circle fa-lg"></i> Завершить экспертизу</a></td>
{% endblock %}
