{% extends "base.html" %}
{% load static bootstrap_icons %}
{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/">{% md_icon "bank-outline" %}</a></li>
      {#      <li class="breadcrumb-item"><a href="/">Каталог ЭОР</a></li>#}
      <li class="breadcrumb-item"><a href="/">Паспорт ЭОР: {{ dig_res }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Назначение экспертов</li>
    </ol>
  </nav>
  <header class="pb-4 px-2">
    <h3>Назначение экспертов для заявки на экспертизу ЭОР "{{ dig_res }}"</h3>
  </header>
  <div class="container">
    <div class="row p-2">
      <div class="col-12 p-2">
        <div class="card h-100 border-secondary shadow-2">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {{ form.errors }}
              {{ form.non_field_errors }}
              {{ form.media.css }}
              <div class="form-group">
                <label>{{ form.expertise_type.label }}</label>
                {{ form.expertise_type }}
              </div>
              <div class="form-group">
                <label>{{ form.expert.label }}</label>
                {{ form.expert }}
              </div>
              <input type="submit" value="Назначить" class="btn btn-primary">
              <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Отмена</a>
            </form>
            {{ form.media.js }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
