{% extends "base.html" %}
{% load static bootstrap_icons %}
{% load user_tags %}
{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/">{% md_icon "bank-outline" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'complexes:complexes_DigitalComplex_list' %}">Паспорт ЭОР "{{ object.digital_resource }}"</a></li>
      <li class="breadcrumb-item active" aria-current="page">Заявка на экспертизу ЭОР "{{ object.digital_resource }}"</li>
    </ol>
  </nav>
  <header class="pb-4 px-2">
    {% if request.user.is_superuser %}
      <a class="btn btn-primary float-right" href="{% url 'repository:repository_DigitalResource_detail' pk=object.digital_resource.pk %}">Паспорт ЭОР</a>
    {% endif %}
    <h1>Заявка на экспертизу ЭОР "{{ object.digital_resource }}"</h1></header>
  {% if request.user.is_authenticated %}
    <div class="row p-2">
      <div class="col-12 col-md-6 col-lg-7 col-xl-8 p-2">
        <div class="card h-100 border-secondary shadow-2">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Тип заявки:</h6>
            <p> {{ object.get_type_display }}</p>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">Инициатор:</h6>
            <p>{{ object.owner }}</p>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">Дата заявки:</h6>
            <p>{{ object.date }}</p>
            <hr>
            <h6 class="card-subtitle mb-2 text-muted">Дисциплина(ы):</h6>
            {% for obj in object.subjects.all %}
              <p>{{ obj }}</p>
              <hr>
            {% endfor %}
            <h6 class="card-subtitle mb-2 text-muted">Направления подготовки/Образовательная программа:</h6>
            {% for obj in object.directions.all %}
              <p>{{ obj }}</p>
            {% endfor %}
            <h6 class="card-subtitle mb-2 text-muted">ЭУМК:</h6>
            {% for obj in object.digital_complexes.all %}
              <p>{{ obj }}</p>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
    </div>
  {% endif %}


{% endblock %}
