{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load survey_extras %}

{% block title %} {{ survey.name }} {% endblock title %}

{% block js %}
  {{ response_form.media }}
  {% if asset_context.flatpickr %}
    <script type="text/javascript" src="{% static 'js/flatpickr.min.js' %}"></script>
  {% endif %}
{% endblock %}

{% block css %}
  {% if asset_context.flatpickr %}
    {{ block.super }}
    <link href="{% static 'css/flatpickr.min.css' %}" rel="stylesheet" type="text/css"/>
  {% endif %}
{% endblock %}



{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-2 pb-0">
      <li class="breadcrumb-item"><a href="/"><i class="home icon"></i></a></li>
      <li class="breadcrumb-item active" aria-current="page">Активные заявки</li>
    </ol>
  </nav>
  <div class="card">
    <div class="card-body">
      {{ expertise_request.expertise.digital_resource }}
      <a class="btn btn-primary" href="{% url "repository:repository_DigitalResource_detail" pk=expertise_request.expertise.digital_resource.pk %}">Паспорт ЭОР</a>
      <a class="btn btn-primary" href="{% url "inspections:inspections_ExpertiseRequest_detail" pk=expertise_request.pk %}">Данные заявки</a>
{#    </div>#}
  </div>

  <div class="row">

    <div class="col" style="max-width:960px;">
      <h1> {{ survey.name }} </h1>
      <div class="mx-auto">


        {% if  survey.description is not None %}
          <div class="survey-description"> {{ survey.description|safe }} </div>
        {% else %}
        {% endif %}

        <form action="{% url 'survey:survey-detail' id=survey.id expertise_request_pk=expertise_request_pk %}" method="post" class="expertise expertise-form">
          {% csrf_token %}
          <div class="accordion">
            {% for category in categories %}
              {% if category.description is not None %}
                <p> {{ category.description }} </p>
              {% else %}
              {% endif %}

              <div class="card bg-light">
                <div class="card-header">
                  <h5 class="mb-0">
                    <button class="btn btn-outline-info btn-block" type="button" data-toggle="collapse" data-target="#collapse{{ category.slugify }}" aria-expanded="true" aria-controls="collapse{{ category.slugify }}">
                      {{ category }}
                    </button>
                  </h5>
                </div>

                <div id="collapse{{ category.slugify }}"
                     class="card-collapse collapse {% if not survey.editable_answers and response_form.response is not None %}in{% endif %}
				        {{ response_form|collapse_form:category }}">
                  <div class="card-body">
                    {% include "survey/question.html" %}
                  </div>
                </div>
              </div>

            {% empty %}
              <h3> {% trans "Questions" %} </h3>
              {% include "survey/question.html" %}
            {% endfor %}

            <br>
            <input class="btn btn-primary" style="float: right" type="submit" name="save" value="{% trans "Сохранить" %}">
          </div>

        </form>
      </div>
    </div>
  </div>


{% endblock %}
