{% extends "base.html" %}
{% load static bootstrap_icons %}
{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/">{% md_icon "bank-outline" %}</a></li>
      {#      <li class="breadcrumb-item"><a href="/">Каталог ЭОР</a></li>#}
      {#      <li class="breadcrumb-item"><a href="/">Паспорт ЭОР: {{ dig_res }}</a></li>#}
      <li class="breadcrumb-item active" aria-current="page">Заявка на экспертизу
        "{{ object.expertise_request.digital_resource }}"
      </li>
    </ol>
  </nav>
  <header><h1 class="display-3">Чек-лист экспертизы "{{ digital_resource }}"</h1></header>
  <div class="row p-2">
    <div class="col-12 p-2">
      <form method="post">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.non_field_errors }}
        {{ form.media.css }}
        {#            {{ form }}#}
        <a class="btn btn-primary" href="">Паспорт ЭОР</a>
        <a class="btn btn-primary" href="">Данные экспертизы</a>
        <div class="form-group">
          <label>Эксперт:</label>
          {{ expertise.expert }}
        </div>
        <div class="form-group">
          <label>Дата экспертизы:</label>
          {{ expertise.date }}
        </div>
        {#        <div class="row p-2">#}
        {#          <div class="col-12 p-2">#}
        {#            <div class="card h-100 border-secondary shadow-2">#}
        {#              <div class="card-body">#}
        {#                <h4>Значение показателей экспертизы:</h4>#}
        {#                  #}
        {#              </div>#}
        {#            </div>#}
        {#          </div>#}
        {#        </div>#}
        <input type="submit" value="Завершить экспертизу" class="btn btn-primary">
        <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Отмена</a>
      </form>

    </div>
  </div>

{% endblock %}
