{% extends "base.html" %}
{% load static bootstrap_icons %}
{% load user_tags %}
{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/">{% md_icon "bank-outline" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Мои экспертизы</li>
    </ol>
  </nav>
  <header><h1 class="display-3">Мои экспертизы</h1></header>
  <button class="btn btn-primary mt-3 " data-toggle="collapse" data-target="#filters" aria-expanded="false"
          aria-controls="filters">
    <i class="fas fa-search fa-lg"></i> Фильтры и поиск
  </button>
  <div class="row actions" id="accordion">

    <div id="filters" class="collapse mb-3" aria-labelledby="filters" data-parent="#accordion">

      <form action="" method="get">
        <div class="form-row p-2 align-items-end">
          <div class="form-group col-12 col-xl-2 col-md-6">
            <label for="id_person__last_name__icontains">Фамилия эксперта</label>
            <input type="text" name="person__last_name__icontains" class="form-control" value=""
                   id="id_person__last_name__contains">
          </div>
          <div class="form-group col-12 col-xl-2 col-md-6">
            <label for="id_person__first_name__contains">Имя эксперта</label>
            <input type="text" name="person__first_name__contains" class="form-control" value=""
                   id="id_person__first_name__contains">
          </div>
          <div class="form-group col-12 col-xl-2 col-md-6">
            <label for="id_person__middle_name__contains">Отчество эксперта</label>
            <input type="text" name="person__middle_name__contains" class="form-control" value=""
                   id="id_person__middle_name__contains">
          </div>
          <div class="form-group col-12 col-xl-2 col-md-6">
            <label for="id_format__contains">Подразделение / Отрасль: </label>
            <input type="text" name="format__contains" class="form-control" value="" id="id_format__contains">
          </div>

          <div class="form-group col-12 col-xl-2 col-md-6">
            <label for="id_type">Вид экспертизы:</label> <select name="type" class="custom-select"
                                                                 id="id_type">
            <option value="" selected="">---------</option>
            <option value="METHODICAL">Методическая</option>
            <option value="CONTENT">Содержательная</option>
            <option value="TECH">Техническая</option>
          </select>
          </div>
          <div class="form-group col-12 col-xl-2 col-md-6">
            <input class="btn btn-primary btn-block pt-3" type="submit">
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="container">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Наименование ЭОР</th>
        <th>Автор</th>
        <th>Дата заявки</th>
        <th>Тип экспертизы</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for object in expertiseopinion_list %}
        <tr>
          <td>{{ object.expertise_request.digital_resource.title }}</td>
          <td>{{ object.expertise_request.owner }}</td>
          <td class="text-nowrap">{{ object.created|date:'d E Y H:i' }}</td>
          <td>{{ object.expertise_type }}</td>
          <td><a class="btn btn-outline-primary text-nowrap" href="{% url 'inspections:ExpertiseOpinion_detail' pk=object.pk %}"><i class="fas fa-info-circle fa-lg"></i> Подробнее</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% include "includes/paginator.html" %}
  </div>


  </div>
{% endblock %}
