{% extends "base.html" %}
{% load user_tags %}
{% load static %}
{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/"><i class="fas fa-university fa-lg"></i></a></li>
      {#      <li class="breadcrumb-item"><a href="/">Каталог ЭОР</a></li>#}
      {#      <li class="breadcrumb-item"><a href="/">Паспорт ЭОР: {{ dig_res }}</a></li>#}
      <li class="breadcrumb-item active" aria-current="page">Заявка на экспертизу
        "{{ object.expertise.digital_resource }}"
      </li>
    </ol>
  </nav>
  <header><h1 class="display-3">чек-лист "{{ object.expertise.digital_resource }}"</h1></header>
  <a class="btn btn-primary" style="float: right"
     href="{% url 'repository:repository_DigitalResource_detail' pk=object.expertise.digital_resource.pk %}">Паспорт
    ЭОР</a>
  <div class="row p-2">
    <div class="col-12 p-2">
      <div class="card h-100 border-secondary shadow-2">
        <div class="card-body">
          {% csrf_token %}
          {{ form.errors }}
          {{ form.non_field_errors }}
          {{ form.media.css }}
          <div class="form-group">
            <label><b>Тип экспертизы</b></label>
            <br/>
            {{ object.survey }}
          </div>
          <hr/>
          <div class="form-group">
            <label><b>Эксперт</b></label>
            <br/>
            {{ object.expert }}
          </div>
          <hr/>
          <div class="form-group">
            <label><b>Дата экспертизы</b></label>
            <br/>
            {{ object.date }}
          </div>
        </div>
      </diV>
    </div>
  </div>
  <div class="card">
    <diV class="card-body shadow-1">
      <div class="form-group">
        <label><b>Значения показателей экспертизы</b></label>
        <br/>
        {{ response }}

        <table class="table table-sm table-hover">
          <thead>
          <tr>
            <th scope="col">Формулировка критерия</th>
            <th scope="col">Значение</th>
          </tr>
          </thead>
          <tbody>
          {% for category in categories %}

            <tr class="table-dark">
              <td class="text-dark"><strong>{{ category }}</strong></td>
              <td></td>
            </tr>

            {% for answer in answers %}
              {% if answer.category == category %}
                <tr>
                  <td>{{ answer.question.text }}</td>
                  <td>{{ answer.body }}</td>
                </tr>

              {% endif %}
            {% endfor %}

            </tbody>
          {% endfor %}

        </table>

      </div>
    </diV>
  </div>
  {% if request.user|has_group:"secretary" %}
    <a class="btn btn-primary mt-4" href="{% url 'inspections:inspections_Expertise_detail' pk=object.expertise.pk %}">Данные экспертизы</a>
  {% endif %}
{% endblock %}
