{% extends "base.html" %}
{% load user_tags repository_tags bootstrap_icons %}
{% load widget_tweaks %}
{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/">{% md_icon "bank-outline" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Избранные ЭОР</li>
    </ol>
  </nav>
  <header><h1 class="display-3">Избранные электронные образовательные ресурсы</h1></header>
  <div class="row actions" id="accordion">
    <button class="btn btn-primary mr-3" data-toggle="collapse" data-target="#filters" aria-expanded="false"
            aria-controls="filters"><i class="fas fa-search fa-lg"></i> Фильтры и поиск
    </button>
    <div id="filters" class="collapse mb-3" aria-labelledby="filters" data-parent="#accordion">
      <form method="get">
        <div class="well">
          <div class="row">
            {% for filter in filterset.form %}
              <div class="form-group col-12 col-xl-2 col-md-6">
                {{ filter.label_tag }}
                {% render_field filter class="form-control" %}
              </div>
            {% endfor %}
          </div>
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Найти
          </button>
        </div>
      </form>
      {{ form.media }}
    </div>
  </div>

  <div class="row p-2">
    {% for object in object_list %}
      <div class="col-12 col-md-6 col-lg-6 col-xl-4 p-2">
        <div class="card border-secondary h-100 shadow-2">
          <div class="card-header pb-0">
            <p class="mb-2 text-muted float-right"><i class="fas fa-university"></i>
              {{ object.obj.copyright_holder }}
            </p>
            <p class="mb-2 text-muted">{{ object.obj.get_type_display }}</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ object.obj.title }}</h5>
          </div>
          <div class="card-footer">
            {% if object.obj.get_url %}
              <a href="{{ object.obj.get_url }}" class="card-link">К материалам</a>
            {% else %}
              <a href="#" disabled="disabled" class="card-link disabled">К материалам</a>
            {% endif %}
            <a href="{{ object.obj.get_absolute_url }}" class="card-link"><i class="fas fa-info-circle fa-lg"></i>
              Подробнее</a>
            <div style="display: contents" data-id="{{ object.obj.id }}" data-type="resource" data-action="bookmark"
                 title="Избранное">
                <span style="cursor: pointer" aria-hidden="true"
                      class="{% if object.obj|favorited_by:user %}fa fa-star fa-lg{% else %}far fa-star fa-lg{% endif %}"></span>
            </div>
          </div>

        </div>
      </div>
    {% empty %}
      {% include "includes/empty_alert.html" with msg="Избранные ЭОР отсутствуют" %}
    {% endfor %}
  </div>

  {% include "includes/paginator.html" %}

  {% csrf_token %}
  <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    function to_bookmarks() {
      var current = $(this);
      var type = current.data('type');
      var pk = current.data('id');
      var action = current.data('action');

      $.ajax({
        url: "/repository/" + type + "/" + pk + "/" + action + "/",
        type: 'POST',
        data: {'obj': pk},
        headers: {'X-CSRFToken': csrftoken},

        success: function (json) {
          current.find("[data-count='" + action + "']").text(json.count);
          location.reload();
        }
      });

      return false;
    }

    // Подключение обработчика
    $(function () {
      $('[data-action="bookmark"]').click(to_bookmarks);
    });
  </script>
{% endblock %}
