{% extends "base.html" %}
{% load static %}
{% load user_tags %}
{% block content %}

  {#  <p>#}
  {#    <a class="btn btn-light" href="{% url 'repository:repository_digitalresource_list' %}">#}
  {#      DigitalResource Listing#}
  {#    </a>#}
  {#  </p>#}
  <div class="ui container">
    {% if request.user.is_authenticated %}
      <div class="ui segment">
        <h3>{{ object.title }}</h3>
        <div class="ui two column stackable grid">
          {% for state in status.all %}
            <div class="column">
              Направление/ОП: {{ state.edu_program }}
            </div>
            <div class="column">
              Дисциплина: {{ state.subject }}
            </div>
          {% endfor %}
        </div>
        <div class="ui two column stackable grid">
          <div class="column">
            Авторы:
          </div>
          <div class="column">
            {% for obj in object.authors.all %}<br/> {{ obj }} {% endfor %}
          </div>
        </div>
        <div class="ui two column stackable grid">
          <div class="column">
            Компетенции/РО:
          </div>
          <div class="column">
            {% for obj in object.result_edu.all %}<br/> {{ obj }} {% endfor %}
          </div>
        </div>
        <div class="ui two column stackable grid">
          <div class="column">
            Описание:
          </div>
          <div class="column">
            {{ object.description }}
          </div>
        </div>
      </div>
    {% endif %}
    {% if request.user.is_superuser %}
      <a class="ui button basic secondary" href="{{ object.get_update_url }}"><i class="pen icon"></i>Редактировать</a>
    {% endif %}
  </div>
{% endblock %}
