{% extends "base.html" %}
{% load user_tags %}
{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/"><i class="fas fa-university fa-lg"></i></a></li>
      <li class="breadcrumb-item active" aria-current="page">Список ЭОР</li>
    </ol>
  </nav>
  <header><h1 class="display-3">Мои цифровые ресурсы</h1></header>

  <div class="row actions" id="accordion">
    <button class="btn btn-primary mr-3" data-toggle="collapse" data-target="#filters" aria-expanded="false" aria-controls="filters"><i class="fas fa-search fa-lg"></i> Фильтры и поиск</button>
    <a class="btn btn-primary" href="{% url 'repository:repository_DigitalResource_create' %}"><i class="fas fa-folder-plus fa-lg"></i> Добавить ЭОР</a>
    <div id="filters" class="collapse mb-3" aria-labelledby="filters" data-parent="#accordion">
      <form action="" method="get">
        <div class="form-row p-2 align-items-end">
          <div class="form-group col-12 col-xl-2 col-md-6">
            <label for="id_title__contains">Наименование</label>
            <input type="text" name="title__contains" class="form-control" value="" id="id_title__contains">
          </div>
          <div class="form-group col-12 col-xl-2 col-md-6">
            <label for="id_type">Тип ресурса</label>
            <select name="type" class="custom-select" id="id_type">
              <option value="" selected="">---------</option>
              <option value="OK">Онлайн-курс</option>
              <option value="EUK">ЭУК</option>
              <option value="TEXT_EOR">Текстовый электронный образовательный ресурс</option>
              <option value="MULTIMEDIA_EOR">Мультимедийный электронный образовательный ресурс</option>
            </select>
          </div>
          <div class="form-group col-12 col-xl-2 col-md-6">
            <label for="id_copyright_holder">Правообладатель</label>
            <select name="copyright_holder"
                    class="custom-select"
                    id="id_copyright_holder">
              <option value="" selected="">---------</option>
              <option value="1eaf6f4e-45ae-40f4-acf0-e0a41d944d50">УрФУ</option>
              <option value="730555fe-c7f1-49fc-982f-347be329276b">УКСАП</option>
              <option value="e7adc87f-473e-4300-839e-ab561a980613">КСПУ</option>
            </select>
          </div>

          <div class="form-group col-12 col-xl-2 col-md-6">
            <label for="id_platform">Платформа</label>
            <select name="platform" class="custom-select" id="id_platform">
              <option value="" selected="">---------</option>
              <option value="0ffadae4-0c03-4e20-b3b5-bb4b3da90d08">Портал электронного обучения</option>
              <option value="0badb9d3-6d87-485b-839c-f41fa93897d5">Платформа Открытого образования УрФУ</option>
              <option value="10e187d4-3664-498c-8ff2-b14c7983d470">Система электронного обучения на платформе Гиперметод</option>
            </select>
          </div>
          <div class="form-group col-12 col-xl-2 col-md-6">
            <label for="id_language">Язык ресурса:</label> <select name="language" class="custom-select" id="id_language">
            <option value="" selected="">---------</option>
            <option value="ru">Русский</option>
            <option value="en">Английский</option>
          </select>
          </div>
          <div class="form-group col-12 col-xl-2 col-md-6">
            <input class="btn btn-primary btn-block pt-3" type="submit">
          </div>
        </div>

      </form>
    </div>
  </div>



  {#  <div class="row p-2">#}
  {#    {% if page_obj|length != 0 %}#}
  {#      {% for object in page_obj %}#}
  {#        <div class="col-12 col-md-6 col-lg-6 col-xl-4 p-2">#}
  {#          <div class="card h-100 border-secondary shadow-2">#}
  {#            <div class="card-header pb-0">#}
  {#              <p class="mb-2 text-muted float-right"><i class="fas fa-university fa-lg"></i></i>#}
  {#                {{ object.copyright_holder }}#}
  {#              </p>#}
  {#              <p class="mb-2 text-muted">{{ object.get_type_display }}</p>#}
  {#            </div>#}
  {#            <div class="card-body">#}
  {#              <h5 class="card-title">{{ object.title }}</h5>#}
  {#            </div>#}
  {#            <div class="card-footer">#}
  {#              {% if object.get_url %}#}
  {#                <a href="{{ object.get_url }}" class="card-link">К материалам</a>#}
  {#              {% else %}#}
  {#                <a href="{{ object.get_url }}" disabled="disabled" class="card-link disabled">К материалам</a>#}
  {#              {% endif %}#}
  {#              <a href="{{ object.get_absolute_url }}" class="card-link"><i class="fas fa-info-circle fa-lg"></i> Подробнее</a>#}
  {#            </div>#}
  {##}
  {#          </div>#}
  {#        </div>#}
  {#      {% endfor %}#}
  {#    {% endif %}#}
  {#  </div>#}

  <div class="row p-2">
    {% if my_resources %}
      {% for object in my_resources %}
        <div class="col-12 col-lg-6 col-xl-4 p-2">
          <div class="card border-secondary h-100 shadow-2">
            <div class="card-header m-0">
              <p class="float-right m-0"><i class="fas fa-university"></i> {{ object.copyright_holder }}</p>
              <p class="">{{ object.get_type_display }}</p>
            </div>
            <div class="card-body">
              <h5 class="card-title lead">{{ object.title }}</h5>
            </div>
            <div class="card-footer">
              {% if object.get_url %}
                <a href="{{ object.get_url }}" class="btn btn-sm btn-outline-primary mb-1">К материалам</a>
              {% else %}
                <a href="{{ object.get_url }}" disabled="disabled" class="disabled btn btn-sm btn-outline-primary mb-1">К материалам</a>
              {% endif %}
              <a href="{{ object.get_absolute_url }}" class="btn btn-sm btn-outline-primary mb-1"><i class="fas fa-info-circle fa-lg"></i> Подробнее</a>
            </div>

          </div>
        </div>
      {% endfor %}
      </div>
      {% include "includes/paginator.html" %}
    {% else %}
      <p>У вас нет ресурсов</p>
    {% endif %}

  </div>
{% endblock %}
