{% extends "base.html" %}
{% load static %}
{% block content %}

  <div class="ui container">
    <form class="ui form segment" method="post">
      {% csrf_token %}
      {{ form.errors }}
      <div class="four fields">
        <div class="field">
          <label>{{ form.title.label }}</label>
          {{ form.title }}
        </div>
        <div class="field">
          <label>{{ form.type.label }}</label>
          {{ form.type }}
        </div>
        <div class="field">
          <label>{{ form.source_data.label }}</label>
          {{ form.source_data }}
        </div>
        <div class="field">
          <label>{{ form.language.label }}</label>
          {{ form.language }}
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label>{{ form.owner.label }}</label>
          {{ form.owner }}
        </div>
        <div class="field">
          <label>{{ form.copyright_holder.label }}</label>
          {{ form.copyright_holder }}
        </div>
        <div class="field">
          <label>{{ form.platform.label }}</label>
          {{ form.platform }}
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label>{{ form.subjects_tags.label }}</label>
          {{ form.subjects_tags }}
        </div>
        <div class="field">
          <label>{{ form.edu_programs_tags.label }}</label>
          {{ form.edu_programs_tags }}
        </div>
        <div class="field">
          <label>{{ form.authors.label }}</label>
          {{ form.authors }}
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label>{{ form.provided_disciplines.label }}</label>
          {{ form.provided_disciplines }}
        </div>
        <div class="field">
          <label>{{ form.result_edu.label }}</label>
          {{ form.result_edu }}
        </div>
        <div class="field">
          <label>{{ form.authors.label }}</label>
          {{ form.authors }}
        </div>
      </div>
      <div class="field">
        <label>{{ form.description.label }}</label>
        {{ form.description }}
      </div>
      <input type="submit" value="Сохранить" class="ui button secondary">
    </form>
  </div>
{% endblock %}
