
{% extends "base.html" %}
{% load static %}
{% block content %}

<p>
    <a class="btn btn-light" href="{% url 'repository_EduProgram_list' %}">
    EduProgram Listing
    </a>
</p>

<table class="table">
    <tr><td>description</td><td>{{ object.description }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>created</td><td class="text-nowrap">{{ object.created|date:'d E Y H:i' }}</td></tr>
    <tr><td>short_description</td><td>{{ object.short_description }}</td></tr>
    <tr><td>title</td><td>{{ object.title }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}
