{% extends "base.html" %}
{% load static %}
{% block content %}
  <p>
    <a class="ui basic button" href="{% url 'repository:repository_DRStatus_list' %}">
      Вернуться к списку статусов
    </a>
    <a class="ui basic button" href="{{ request.META.HTTP_REFERER }}">
      Вернуться назад
    </a>
  </p>
  <div class="ui two column doubling stackable grid" style="padding-left:5em; padding-right:5em">
    <div class="column">
      <div class="ui segment container">
        <h3>Статус ЦОР</h3>
        <form class="ui form" method="post">
          {% csrf_token %}
          {{ form.errors }}
          <div class="fields">
            <div class="field">
              <label>{{ form.status.label }}</label>
              {{ form.status }}
            </div>
            <div class="field">
              <label>{{ form.end_date.label }}</label>
              <div class="ui calendar" id="standard_calendar">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  {{ form.end_date }}
                </div>
              </div>
            </div>
            <div class="field">
              <label>{{ form.accepted_status.label }}</label>
              {{ form.accepted_status }}
            </div>
          </div>
          <div class="right floated content">
            <input type="submit" value="Сохранить" class="ui button">
          </div>
        </form>
      </div>
    </div>
    <div class="column">
      <div class="ui segment column container">
        <h3>Паспорт ЦОР: {{ digital_resource.title }}</h3>
        <div class="ui relaxed divided list">
          <div class="item">
            <div class="content">
              <p class="header">Тип ресурса</p>
              <div class="description">
                {{ digital_resource.get_type_display }}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <p class="header">Платформа</p>
              <div class="description">
                Наимаенование: {{ digital_resource.platform.title }}<br/>
                Ссылка на платформу: {{ digital_resource.platform.url }}<br/>
                {% if digital_resource.platform.contacts == "" %}
                  Контакты: Отсутствует<br/>
                {% else %}
                  Контакты: {{ digital_resource.platform.contacts }}<br/>
                {% endif %}
                {% if digital_resource.platform.url_logo == None %}
                  Ссылка на логотип: Отсутствует<br/>
                {% else %}
                  Ссылка на логотип: {{ digital_resource.platform.url_logo }}<br/>
                {% endif %}
                {% if digital_resource.platform.description == "" %}
                  Описание: Отсутствует<br/>
                {% else %}
                  Описание: {{ digital_resource.platform.description }}<br/>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <p class="header">Язык ресурса</p>
              <div class="description">
                Наименование языка: {{ digital_resource.language.title }}<br/>
                Код языка: {{ digital_resource.language.code }}<br/>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <p class="header">Правообладатель</p>
              <div class="description">
                Наимаенование: {{ digital_resource.copyright_holder.title }}<br/>
                Ссылка на организацию: {{ digital_resource.copyright_holder.url }}<br/>
                {% if digital_resource.copyright_holder.contacts == "" %}
                  Контакты: Отсутствует<br/>
                {% else %}
                  Контакты: {{ digital_resource.copyright_holder.contacts }}<br/>
                {% endif %}
                {% if digital_resource.copyright_holder.url_logo == None %}
                  Ссылка на логотип: Отсутствует<br/>
                {% else %}
                  Ссылка на логотип: {{ digital_resource.copyright_holder.url_logo }}<br/>
                {% endif %}
                {% if digital_resource.copyright_holder.description == "" %}
                  Описание: Отсутствует<br/>
                {% else %}
                  Описание: {{ digital_resource.copyright_holder.description }}<br/>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <p class="header">ЦОР рекомендован в качестве обеспечения дисциплины</p>
              <div class="description">
                {% for obj in digital_resource.provided_disciplines.all %}
                  <table class="ui compact table">
                    <thead>
                    <tr>
                      <th>Образовательная программа</th>
                      <th>Дисциплина</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td data-label="Образовательная программа">{{ obj.edu_program }}</td>
                      <td data-label="Дисциплина">{{ obj.subject }}</td>
                    </tr>
                    </tbody>
                  </table>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <p class="header">Соответствие ЦОР темам дисциплины</p>
              <div class="description">
                {% for obj in digital_resource.conformity_theme.all %}
                  <table class="ui compact table">
                    <thead>
                    <tr>
                      <th>Тема дисциплины</th>
                      <th>Практика</th>
                      <th>Теория</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td data-label="Тема дисциплины">{{ obj.theme }}</td>
                      <td data-label="Практика">
                        {% if obj.practice %}
                          <i class="check circle outline icon"></i>
                        {% else %}
                          <i class="circle outline icon"></i>
                        {% endif %}
                      </td>
                      <td data-label="Теория">
                        {% if obj.theory %}
                          <i class="check circle outline icon"></i>
                        {% else %}
                          <i class="circle outline icon"></i>
                        {% endif %}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <p class="header">Авторы</p>
              <div class="description">
                {% for obj in digital_resource.authors.all %}{{ obj }}<br/>{% endfor %}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <p class="header">Образовательный результат</p>
              <div class="description">
                {% for obj in digital_resource.result_edu.all %}
                  Наимаенование: {{ obj.title }}<br/>
                  {% if obj.description == "" %}
                    Описание: Отсутствует<br/>
                  {% else %}
                    Описание: {{ obj.description }}<br/>
                  {% endif %}
                  {% if obj.competence.title == "" %}
                    Наименование компетенции: Отсутствует<br/>
                  {% else %}
                    Наименование компетенции: {{ obj.competence.title }}<br/>
                  {% endif %}
                  {% if obj.competence.code == "" %}
                    Код компетенции: Отсутствует<br/>
                  {% else %}
                    Код компетенции: {{ obj.competence.code }}<br/>
                  {% endif %}<br/>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <p class="header">Описание</p>
              <div class="description">
                {{ digital_resource.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script>
    $('#standard_calendar').calendar({
      monthFirst: false,
      {#type: 'date',#}
      ampm: false,
      text: {
        days: ['ПН', 'ВТ', 'СР', 'ЧТ', 'ПТ', 'СБ', 'ВС'],
        months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
        today: 'Сегодня',
        now: 'Сейчас',
      },
      formatter: {
        date: function (date, settings) {
          if (!date) return '';
          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear();
          var hour = date.getHours();
          var min = date.getMinutes();
          var sec = date.getSeconds();
          return day + '.' + month + '.' + year + ' ' + hour + ':' + min + ':' + sec;
        }
      }
    });
  </script>

{% endblock %}
