
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'repository_Platform_list' %}">
    Platform Listing
    </a>
</p>
    
<table class="table">
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>url</td><td>{{ object.url }}</td></tr>
    <tr><td>logo</td><td>{{ object.logo }}</td></tr>
    <tr><td>description</td><td>{{ object.description }}</td></tr>
    <tr><td>contacts</td><td>{{ object.contacts }}</td></tr>
    <tr><td>title</td><td>{{ object.title }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}