{% extends "base.html" %}
{% load static %}
{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/"><i class="fas fa-university fa-lg"></i></a></li>
      <li class="breadcrumb-item"><a href="{% url 'complexes:complexes_DigitalComplexMy_list' %}">Список моих ЭУМК</a></li>
      <li class="breadcrumb-item active" aria-current="page">Платформа {{ object.title }}</li>
    </ol>
  </nav>
  <header class="pb-4 px-2">
    <h1>{{ object.title }} </h1>
  </header>

  <div class="container">
    <table class="table">
      {#    <tr><td>created</td><td class="text-nowrap">{{ object.created|date:'d E Y H:i' }}</td></tr>#}
      <tr>
        <td>Платформа</td>
        <td>{{ object.title }}</td>
      </tr>
      <tr>
        <td>Ссылка</td>
        <td><a href="{{ object.url }}">{{ object.url }}</a></td>
      </tr>
      <tr>
        <td>Логотип</td>
        {% if object.logo %}
          <td>{{ object.logo }}</td>
        {% else %}
          <td>Логотип отсутвует</td>
        {% endif %}
      </tr>
      <tr>
        <td>Описание</td>
        {% if object.description %}
          <td>{{ object.description }}</td>
        {% else %}
          <td>Описание отсутвует</td>
        {% endif %}
      </tr>
      <tr>
        <td>Контакты</td>
        {% if object.description %}
          <td>{{ object.description }}</td>
        {% else %}
          <td>Контакты отсутвуют</td>
        {% endif %}
      </tr>
    </table>
  </div>
{% endblock %}
