{% extends "base.html" %}
{% load user_tags %}
{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/"><i class="fas fa-university fa-lg"></i></a></li>
      <li class="breadcrumb-item active" aria-current="page">Статистика</li>
    </ol>
  </nav>
  <header><h1 class="display-3">Статистика</h1></header>
  <div class="row p-2">
    <div class="col-12 col-md-6 col-lg-6 col-xl-4 p-2">
      <div class="card h-100 border-secondary shadow-2 p-3 text-center">
          <div class="card-body">
            <h5 class="display-1">{{ dp_count }}</h5>
            <h5 class="">Общее количество цифровых образовательных ресурсов</h5>
          </div>
      </div>
    </div>
  </div>

  <div class="row p-2">
      {% for platform, count in by_platform.items %}

      <div class="col-12 col-md-6 col-lg-6 col-xl-4 p-2">
        <div class="card h-100 border-secondary shadow-2 text-center">
          <div class="card-body">
            <h5 class="display-1">{{ count }}</h5>
            <h5 class="">Цифровых образовательных ресурсов <br/> {{ platform }}</h5>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>



    <div class="col-12">
      <table class="table table-striped table-bordered">

        <thead>
        <th>Образовательная программа</th>
        <th>Цифровых образовательных ресурсов</th>
        </thead>
        <tbody>
        {% for ep, count in eduprograms.items %}
          <tr>
            <td>{{ ep }}</td>
            <td>{{ count }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>


{% endblock %}

