{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'repository:repository_source_list' %}">Source Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>link</td>
    <td>status</td>
    <td>created</td>
    <td>last_updated</td>
    <td>type</td>
    <td>file</td>
    <td>priority</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.link }}</td>
    <td>{{ object.status }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.type }}</td>
    <td>{{ object.file }}</td>
    <td>{{ object.priority }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'repository:repository_source_create' %}">Create new Source</a>
{% endblock %}