.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: red; }

.navbar {
  background-color: #16697A;
  color: #EDE7E3; }
  .navbar a {
    color: #EDE7E3; }

.main {
  margin-top: 7em;
}
