{% extends "base.html" %}
{% load static user_tags %}

{% block content %}
  <link href="{% static 'gridstack/dist/gridstack.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'gridstack/dist/gridstack-extra.css' %}" rel="stylesheet"/>
  <script src="{% static 'gridstack/dist/gridstack-h5.js' %}"></script>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/"><i class="fas fa-university fa-lg"></i></a></li>
      <li class="breadcrumb-item"><a href="{% url 'complexes:complexes_DigitalComplex_list' %}">Список ЭУМК</a></li>
      <li class="breadcrumb-item"><a
              href="{% url 'complexes:complexes_DigitalComplex_detail' pk=dig_complex.pk %}">{{ dig_complex }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Редактирование структурно-тематического плана
        ЭУМК {{ dig_complex }}</li>
    </ol>
  </nav>

  <header><h3>Редактирование структурно-тематического плана ЭУМК по
    {% for subject in dig_complex.subjects.all %}{{ subject }}{% endfor %} образовательной программы
    {% for subject in dig_complex.directions.all %}{{ direction }}{% endfor %}</h3></header>

  {% if request.user.is_authenticated %}
    <div class="row p-2">
      <div class="col-12 col-lg-12 col-xl-10 p-2">
        <div class="card border-secondary shadow-2 h-100">
          <div class="card-header"><h5>Редактирование структурно-тематического плана ЭУМК по
            {% for subject in dig_complex.subjects.all %}{{ subject }}{% endfor %} образовательной программы
            {% for subject in dig_complex.directions.all %}{{ direction }}{% endfor %}</h5></div>
          <div class="card-body">

            <table class="table table-striped table-bordered col-12 col-lg-12 col-xl-10">
              <thead>
              <th>Тема / раздел</th>
              <th>Теория</th>
              <th>Практика</th>
              <th></th>
              <th></th>
              </tr>
              </thead>
              <tbody>
              {% for object in object_list %}
                <tr>
                <td>{{ object.theme_name }}</td>
                <td>{% if object.include_theory %}Да{% else %}Нет{% endif %}</td>
                <td>{% if object.include_practice %}Да{% else %}Нет{% endif %}</td>
                <td><a class="btn btn-outline-primary text-nowrap"
                       href="{% url 'complexes:complexes_AssignmentAcademicGroup_update' pk=object.pk %}">
                  <i class="fas fa-edit"></i> Редактировать</a>
                </td>
                <td><a class="btn btn-primary"
                       href="{% url 'complexes:complexes_AssignmentAcademicGroup_delete' pk=object.pk %}">
                  <i class="fas fa-trash-alt"></i></a></td>
              {% empty %}
                Ячейки цифрового комплекса ЭУМК отсутсвуют
              {% endfor %}
              </tbody>
            </table>
          </div>
          <a class="btn btn-outline-primary"
             href="{% url 'complexes:complexes_ThematicPlan_create' digital_complex_pk=dig_complex.pk %}">
            <i class="fas fa-plus"></i>
            Добавить тему / раздел</a>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="container-fluid">
    <h1>Serialization demo</h1>
    <a onClick="addGrid()" class="btn btn-primary" href="#">Add Grid</a>
    <a onClick="addWidget()" class="btn btn-primary" href="#">Add Widget</a>
    <a onClick="saveGrid()" class="btn btn-primary" href="#">Save</a>
    <a onClick="loadGrid()" class="btn btn-primary" href="#">Load</a>
    <a onClick="saveFullGrid()" class="btn btn-primary" href="#">Save Full</a>
    <a onClick="loadFullGrid()" class="btn btn-primary" href="#">Load Full</a>
    <a onClick="clearGrid()" class="btn btn-primary" href="#">Clear</a>
    <br/><br/>
    <div id="gridMain"></div>
    <hr/>
  </div>

  <script type="text/javascript">
    let count = 0
    let grid = GridStack.init({
      disableOneColumnMode: true,
      float: true,
      cellHeight: 100
    }); // don't let it collapse when empty

    grid.on('added removed change', function (e, items) {
      let str = '';
      items.forEach(function (item) {
        str += ' (x,y)=' + item.x + ',' + item.y;
      });
      console.log(e.type + ' ' + items.length + ' items:' + str);
    });

    let serializedData = [
      {x: 0, y: 0, w: 1, h: 1, id: '0'},
      {
        x: 1,
        y: 0,
        w: 1,
        h: 1,
        id: '1',
        content: "<button class='btn btn-outline-primary text-nowrap' onclick=\"alert('clicked!')\">Редактировать</button>"
      },
    ];
    serializedData.forEach((n, i) =>
            n.content = `<button class="btn btn-primary" onClick="grid.removeWidget(this.parentNode.parentNode)"><i class="fas fa-trash-alt"></i></button> ${n.content ? n.content : ''}`);
    let serializedFull;

    // 2.x method - just saving list of widgets with content (default)
    loadGrid = function () {
      grid.load(serializedData, true); // update things
    }

    // 2.x method
    saveGrid = function () {
      delete serializedFull;
      serializedData = grid.save();
      document.querySelector('#saved-data').value = JSON.stringify(serializedData, null, '  ');
    }

    // 3.1 full method saving the grid options + children (which is recursive for nested grids)
    saveFullGrid = function () {
      serializedFull = grid.save(true, true);
      serializedData = serializedFull.children;
      document.querySelector('#saved-data').value = JSON.stringify(serializedFull, null, '  ');
    }

    // 3.1 full method to reload from scratch - delete the grid and add it back from JSON
    loadFullGrid = function () {
      if (!serializedFull) return;
      grid.destroy(true); // nuke everything
      grid = GridStack.addGrid(document.querySelector('#gridCont'), serializedFull)
    }

    addWidget = function () {
      //let n = {
      //x: Math.round(12 * Math.random()),
      //y: Math.round(5 * Math.random()),
      //w: Math.round(1 + 3 * Math.random()),
      //h: Math.round(1 + 3 * Math.random())
      //};
      let n = {
        x: 0,
        y: 0,
        w: 1,
        h: 1,
        text: "Kek"
      }
      n.content = `<button class="btn btn-primary" onClick="grid.removeWidget(this.parentNode.parentNode)"><i class="fas fa-trash-alt"></i></button>` + (n.text ? n.text : '');
      grid.addWidget(n);
    };

    clearGrid = function () {
      grid.removeAll();
    }

    function addGrid() {
      let divCont = document.createElement("div")
      let divStack = document.createElement("div")
      let main_div = document.getElementById("gridMain")
      divCont.id = `gridCont-` + count
      divStack.className = `grid-stack`
      count = count++
      main_div.appendChild(divCont)
      divCont.appendChild(divStack)
      grid = GridStack.addGrid(document.querySelector(divCont.id), serializedFull)
      grid.column(2)
    }

    removeGrid = function (id) {
      document.getElementById(id).remove();
    }

    loadGrid();
  </script>

{% endblock %}
