{% extends "base.html" %}
{% load static user_tags %}

{% block content %}
  <link href="{% static 'gridstack/dist/gridstack.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'gridstack/dist/gridstack-extra.css' %}" rel="stylesheet"/>
  <script src="{% static 'gridstack/dist/gridstack-h5.js' %}"></script>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/"><i class="fas fa-university fa-lg"></i></a></li>
      <li class="breadcrumb-item"><a href="{% url 'complexes:complexes_DigitalComplex_list' %}">Список ЭУМК</a></li>
      <li class="breadcrumb-item"><a href="{% url 'complexes:complexes_DigitalComplex_detail' pk=object.pk %}">{{ object }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Редактирование структурно-тематического плана
        ЭУМК {{ object }}</li>
    </ol>
  </nav>

  <header><h3>Редактирование структурно-тематического плана ЭУМК по
    {% for subject in object.subjects.all %}{{ subject }}{% endfor %} образовательной программы
    {% for subject in object.directions.all %}{{ direction }}{% endfor %}</h3></header>

  {% if request.user.is_authenticated %}
    <div class="row p-2">
      <div class="col-12 col-lg-12 col-xl-10 p-2">
        <div class="card border-secondary shadow-2 h-100">
          <div class="card-header"><h5>Редактирование структурно-тематического плана ЭУМК по
            {% for subject in object.subjects.all %}{{ subject }}{% endfor %} образовательной программы
            {% for subject in object.directions.all %}{{ direction }}{% endfor %}</h5></div>
          <div class="card-body">

            <div class="container">
              <div class="row">
                <div class="newWidget col-sm-3 bg-info mx-3" style="height:90px;">+</div>
                <div class="col-sm-3 bg-danger mx-3" id="trash" style="height:90px;">-</div>
              </div>
              <div class="row">
                <div class="col-sm">
                  Тема / раздел
                </div>
                <div class="col-sm">
                  Теория
                </div>
                <div class="col-sm">
                  Практика
                </div>
              </div>
              <div class="row grid-stack">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <style>
    div[gs-x="0"] > .grid-stack-item-content {
      background-color: grey;
    }
  </style>
  <script type="text/javascript">
    let items = [
      {% for theme in object.get_themes.all %}
        {x: 0, y: {{ forloop.counter0 }}, content: '{{theme.title }}', noResize: true, noMove: true},
      {% endfor %}
      {content: 'another longer widget!'} // will be placed next at (1,0) and 2x1
    ];
    let grid = GridStack.init({
      disableOneColumnMode: true,
      column: 3,
      float: true,
      dragIn: '.newWidget',
      cellHeight: 90,
      acceptWidgets: true,
      dragInOptions: {revert: 'invalid', scroll: false, appendTo: 'body', helper: 'clone', handle: '.grid-stack-item-content'},
      removable: '#trash',
      removeTimeout: 100
    });
    grid.load(items);
  </script>

{% endblock %}
