@import "vars";
@import "bootstrap";
@import "bootswatch";
@import "navbar-fixed-left";

@import "colors";
@import "select2_layout";


a.disabled {
  color: gray;
  pointer-events: none;
}

.work-plan {
  .card-notify-uni {
    position: absolute;
    right: 8px;
    top: 5px;
    color: dimgray;
    font-size: 13px;
    width: 80px;
    height: 20px;
    text-align: right;
  }

  .card-notify-type {
    position: absolute;
    left: 8px;
    top: 5px;
    color: dimgray;
    font-size: 13px;
    width: 100px;
    height: 20px;
    text-align: left;
  }

  .card-header, .card-footer {
    background: none !important;
  }

  .card-notify-go {
    position: absolute;
    left: 3px;
    bottom: 0px;
    font-size: 13px;
    width: 130px;
    height: 20px;
    text-align: left;
    padding: 2px;

    a {
      color: #115695;
      //border: 1px solid #115695;
    }

    :hover {
      background-color: ghostwhite;
      font-weight: bold;

    }
  }

  .card-notify-more {
    position: absolute;
    right: 3px;
    bottom: 0px;
    font-size: 13px;
    width: 130px;
    height: 20px;
    text-align: right;
    padding: 2px;

    a {
      color: #115695;
      //border: 1px solid #115695;
    }

    :hover {
      background-color: ghostwhite;
      font-weight: bold;
    }
  }

  td, th {
    padding: .75rem !important;
  }
}


.navbar-light .navbar-nav .nav-link {
  color: #30364A;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #DC1A54;
}

.btn-primary:hover {
  background: #DC1A54;
  border-color:  #DC1A54;
}

.page-link {
  border-radius: 2px !important;
}

.card {
  border: 1px solid #fff;
}

.card:hover {
  //border-color: lighten(#DC1A54, 30%);
}

hr.dotted {
  width: 100%;
}

img.author {
  height: 4rem;
}

.resource-card {
  margin-top: 5px;
  background-color: #e8e8e8;
  border-radius: 2px;
  padding: 5px;
}

.not-implemented {
  background-image: linear-gradient(45deg, #ffddd1 25%, #ffffff 25%, #ffffff 50%, #ffddd1 50%, #ffddd1 75%, #ffffff 75%, #ffffff 100%);
  background-size: 56.57px 56.57px !important;
}

.resurse-list-hide {
    overflow-y: hidden;
    height: calc(100vh - 100px);
}

.main-container {
  margin-bottom: 1em;
}

