@import "vars";
@import "bootstrap";
@import "bootswatch";
@import "navbar-fixed-left";

@import "colors";
@import "select2_layout";

//#djShowToolBarButton {
//  display: none !important;
//}

header {
  h1 {
    margin-bottom: $spacer * 1.5 !important;
  }
}

.actions {
  margin-bottom: $spacer !important;

  #filters {
    margin-top: $spacer;
  }
}

main {
  .container {
    margin-right: unset;
    margin-left: unset;
  }
}

a.disabled {
  color: gray;
  pointer-events: none;
}

.card {
  .card-footer {
    [class*="btn-outline-"] {
      border-width: 1px;
      font-weight: normal;
    }
  }
}

.work-plan {
  .card-notify-uni {
    position: absolute;
    right: 8px;
    top: 5px;
    color: dimgray;
    font-size: 13px;
    width: 80px;
    height: 20px;
    text-align: right;
  }

  .card-notify-type {
    position: absolute;
    left: 8px;
    top: 5px;
    color: dimgray;
    font-size: 13px;
    width: 100px;
    height: 20px;
    text-align: left;
  }

  //.card-header, .card-footer {
  //  background: none !important;
  //}

  .card-notify-go {
    position: absolute;
    left: 3px;
    bottom: 0px;
    font-size: 13px;
    width: 130px;
    height: 20px;
    text-align: left;
    padding: 2px;

    a {
      color: #115695;
      //border: 1px solid #115695;
    }

    :hover {
      background-color: ghostwhite;
      font-weight: bold;

    }
  }

  .card-notify-more {
    position: absolute;
    right: 3px;
    bottom: 0px;
    font-size: 13px;
    width: 130px;
    height: 20px;
    text-align: right;
    padding: 2px;

    a {
      color: #115695;
      //border: 1px solid #115695;
    }

    :hover {
      background-color: ghostwhite;
      font-weight: bold;
    }
  }

  td, th {
    padding: .75rem !important;
  }
}


.navbar-light .navbar-nav .nav-link {
  color: #30364A;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #DC1A54;
}

.btn-primary:hover {
  background: #DC1A54;
  border-color: #DC1A54;
}

.page-link {
  border-radius: 2px !important;
}

.card {
  border: 1px solid #fff;
}

.card:hover {
  //border-color: lighten(#DC1A54, 30%);
}

hr.dotted {
  width: 100%;
}

img.author {
  height: 4rem;
}

.resource-card {
  margin-top: 5px;
  background-color: #e8e8e8;
  border-radius: 2px;
  padding: 5px;
}

.not-implemented {
  background-image: linear-gradient(45deg, #ffddd1 25%, #ffffff 25%, #ffffff 50%, #ffddd1 50%, #ffddd1 75%, #ffffff 75%, #ffffff 100%);
  background-size: 56.57px 56.57px !important;
}

.resurse-list-hide {
  overflow-y: hidden;
  height: calc(100vh - 100px);
}

.main-container {
  margin-bottom: 1em;
}


//select {
//  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAABmJLR0QA/wD/AP+gvaeTAAABlUlEQVR4nO3bPU7DQBCG4Q9u4AJHnJyOQ0EiuE0owhSYOPba+zfj95HSRfLsvFrJKSIBAAAAAAAAAAAAAAAAAAAAAAAAaOpZ0tB6CAcG3XZV1JOkN0nfkl5LP8yxUdKnpHcVjGIxrr8fotxnMWxPRaJMYxDlvmmMIlHmYhDlr7kY2aMMki4PHnSVdJZ0yvEwp0667eDRji7K+DK0VP/IN2XNbr5UYDdE+a9ZjJQBjhKleYyUQaJH6SZGykBRo3QXI2WwaFG6jZEyYJQo3ccwR4jiJoaJHMVdDBMxitsYJlIU9zFMhChhYhjPUcLFMB6jhI1hPB3Q06y7eDiohxmz6vnAPc9WVI8H73GmqnpaQE+zNDVK+lDbRRBj4kXtohBjRosoxFhQMwoxVqoRhRiJSkYhxkYlohBjp5xRiJFJjijEyGxPFGIUsiUKMQpLiUKMSkYt//fivPI7Y+XZw1pzU7gZlW2NQoyCUqMQo4K1UYhR0VIUYjQwF4UYDU2jEKMDFoUYHRnFjz4AAAAAAAAAAAAAAEL7AbFxsPbX5BoIAAAAAElFTkSuQmCC");
//  background-position:
//    calc(100% - 20px) calc(1em + 2px);
//  background-size:
//    20px 14px;
//  background-repeat: no-repeat;
//  -webkit-appearance: none;
//  -moz-appearance: none;
//}
//
//select:focus {
//  background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAABmJLR0QA/wD/AP+gvaeTAAAB0klEQVR4nO3cvVLCQBSG4W/Qy7DGXmXwiu2s1BrvxkrRChwKLZYzKgaym2yS/XmfmVTAIbPvJIEikQAAAAAAAAAAAAAAAAAAAODnQtKdpBdJH5LuJc0n3aOKLSW9Sfo62Nb71zCiazXHsO1d0u1ke1eZthhEGZFvDKKMIDQGUQbUNQZRBtA3BlEiihWDKBEs5RbQd6FD3sv/lEAhR4Yt8JWk14DPcKR46hLDECWyPjEMUSKJEcMQpaeYMQxROhoihiFKoCFjGKJ4GiOGIUqLMWMYohwxRQxDlANTxjBE2Ushhqk+SkoxTLVRUoxhqouScgxTTZQcYpjio+QUwxQbJccYprgoOccwxUQpIYbJPkpJMUy2UUqMYbKLUnIMk02UGmKY5KPUFMMkG6XGGCa5KDXHMMlEIcaPyaMQ47/JohDjuNGjEKPdaFEu5e75Jka7kHtZ1ur4cIMnzy+oPYYJifIYOvxM0qfHYGL85Xv62sqtsbdzSbuWocRo5hNlJ7fGQZ5PDCTGaW2nr1WXoQtJm4ZhPNzFz1LNP4o2km66Dl3I1dzJnfcexOOPQszlLuBbuTVcqUeM384kzWIMqtRMgRdxAAAAAAAAAAAAAAAAAACK9A2DtLMhEpCnBgAAAABJRU5ErkJggg==');
//  background-position:
//    calc(100% - 20px) calc(1em + 2px);
//  background-size:
//    20px 14px;
//  background-repeat: no-repeat;
//  outline: 0;
//}

form.expertise {
  label {
    font-size: larger;
    margin-bottom: 1rem;
  }
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
