{% extends "base.html" %}

{% block title %}Server Error{% endblock %}
{% block javascript %}
  <script
          src="https://browser.sentry-cdn.com/6.8.0/bundle.min.js"
          integrity="sha384-a1zd+NHj/GIqnlXIHuEKFontqYxBdK9Zwslrvnhr1KfU9tBDzKbM55gQFXlHYDiD"
          crossorigin="anonymous"
  ></script>
{% endblock %}

{% block content %}
  <h1>Ooops!!! 500</h1>

  <h3>Looks like something went wrong!</h3>

  <script>
    Sentry.init({dsn: "https://40b9200bd9384638b40f68a9637cbc01@sentry.urfu.online/1"});
    Sentry.showReportDialog({
      eventId: "1",
    });
  </script>

{% endblock content %}


