{% load static i18n user_tags analytical bootstrap_icons %}
<!DOCTYPE html>
<html lang="ru">
<head>
  {% analytical_head_top %}
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Электронные образовательные ресурсы{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <script type="text/javascript" src="{% static 'js/vendors.min.js' %}"></script>

  <script src="{% static 'fontawesome_free/js/fontawesome.min.js' %}"></script>
  <script src="{% static 'fontawesome_free/js/solid.min.js' %}"></script>

  <link rel="icon" href="{% url 'favicon' %}">

  {% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap_icons/css/bootstrap_icons.css' %}">
  {% endblock %}


  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>

  {% block extra_js %}
  {% endblock %}

  {% analytical_head_bottom %}
</head>

<body class="back">
{% analytical_body_top %}
{% include 'includes/navigation.html' %}

<main class="col-12 col-xl-11 py-md-3 pl-md-5 bd-content" role="main">
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">{% md_icon 'close' %}</span></button>
      </div>
    {% endfor %}
  {% endif %}

  {% block content %}
  {% endblock content %}
</main>

{#<footer class="ui inverted segment">#}
{#  <div class="ui container">#}
{#    <div class="ui stackable inverted divided equal height stackable grid">#}
{#      <div class="three wide column">#}
{#        <p><i class="copyright outline icon"></i>ФГАОУ ВО «УрФУ имени первого Президента России Б.Н.Ельцина»</p>#}
{#      </div>#}
{#      <div class="three wide column">#}
{#        <h4 class="ui inverted header">Техническая поддержка:</h4>#}
{#        <div class="ui inverted link list">#}
{#          <p class="item">openedu@urfu.ru</p>#}
{#        </div>#}
{#      </div>#}
{#      <div class="seven wide column">#}
{#        <h4 class="ui inverted header">Мы в социальных сетях:</h4>#}
{#        <div class="ui inverted link list">#}
{#          <a href="https://vk.com/openedu" class="item">Вконтакте</a>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</footer>#}

{% block modal %}{% endblock modal %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}
  <script src="{% static 'js/project.js' %}"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>


  {% if source_formset or formset %}
    <script>
      $('.source_form').formset();
    </script>
  {% endif %}

  <script type="text/javascript">
    $(document).ready(function () {
      $('.table').DataTable({
        "paging": false,
        "filter": false,
        "info": false,
        "oLanguage": {
          "sEmptyTable": "Нет данных"
        }
      });
    });
  </script>


{% endblock javascript %}

<link href="{% static 'css/vendor.css' %}" rel="stylesheet">
<link href="{% static 'css/custom.css' %}" rel="stylesheet">
<link href="{% static 'css/project.css' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}"/>

{% analytical_body_bottom %}
</body>
</html>

