{% load static i18n %}
{% load user_tags %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}LRR{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.js"></script>
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->

  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

  {% block css %}

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Your stuff: Third-party CSS libraries go here -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.css">

    <!-- This file stores project-specific CSS -->

    <link href="{% static 'css/project.css' %}" rel="stylesheet">


  {% endblock %}

</head>
<body class="back">
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-left">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand mb-3" href="{% url 'home' %}">
    <img class="d-none d-sm-none d-xs-none d-md-block d-lg-block d-xl-block" width="100%"
         src="{% static 'images/logo.png' %}" alt="Репозиторий ЦОР">
    <span class="d-block d-sm-block d-xs-block d-md-none d-lg-none d-xl-none">Репозиторий ЦОР</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if request.user|has_group:"expert" or request.user|has_group:"staff" or request.user|has_group:"teacher" %}
        <li class="nav-item">
          <a class="nav-link" href="/repository/resource">{% trans "Мои ЦОР" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/repository/search">{% trans "Поиск ЦОР" %}</a>
        </li>

      {% endif %}

      {% if request.user|has_group:"student" %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'repository:repository_WorkPlan' %}">{% trans "Рабочий план группы" %}</a>
        </li>
      {% endif %}

      {% if request.user|has_group:"expert" or request.user|has_group:"staff" or request.user|has_group:"teacher" %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Сотруднику
          </a>
          <div class="dropdown-menu shadow-4" aria-labelledby="navbarDropdown">
            {% if request.user|has_group:"expert" %}
              <a class="dropdown-item" href="{% url 'repository:repository_Expertise' %}">Экспертизы ЦОР</a>
            {% endif %}
            {% if request.user|has_group:"staff" %}
              <a class="dropdown-item" href="">Компановка рабочего плана</a>
            {% endif %}
            {% if request.user|has_group:"teacher" %}
              <a class="dropdown-item" href="{% url 'repository:repository_Resource' %}">Создание паспорта ЦОР</a>
            {% endif %}
          </div>
        </li>
      {% endif %}

      {% if request.user.is_superuser %}
        <hr class="dotted">
        <li class="nav-item">
          <a class="nav-link" href="/">{% trans "Список ЦОР" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/repository/statistics/">{% trans "Статистика" %}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Администрирование
          </a>
          <div class="dropdown-menu shadow-4" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'admin:index' %}">Административная панель</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'repository:repository_DigitalResource_create' %}">+ Добавить паспорт
              ЦОР</a>
          </div>
        </li>
      {% endif %}

      {% if request.user.is_authenticated %}
        <hr class="dotted">
        <li class="nav-item">
          <a class="nav-link"
             href="{% url 'users:detail' request.user.username %}">{% trans "Профиль" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
        </li>
        <li class="nav-item">
          <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container-fluid">
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
      </div>
    {% endfor %}
  {% endif %}

  {% block content %}
    <p>Use this document as a way to quick start any new project.</p>
  {% endblock content %}
</div> <!-- /container -->

{#<footer class="ui inverted segment">#}
{#  <div class="ui container">#}
{#    <div class="ui stackable inverted divided equal height stackable grid">#}
{#      <div class="three wide column">#}
{#        <p><i class="copyright outline icon"></i>ФГАОУ ВО «УрФУ имени первого Президента России Б.Н.Ельцина»</p>#}
{#      </div>#}
{#      <div class="three wide column">#}
{#        <h4 class="ui inverted header">Техническая поддержка:</h4>#}
{#        <div class="ui inverted link list">#}
{#          <p class="item">openedu@urfu.ru</p>#}
{#        </div>#}
{#      </div>#}
{#      <div class="seven wide column">#}
{#        <h4 class="ui inverted header">Мы в социальных сетях:</h4>#}
{#        <div class="ui inverted link list">#}
{#          <a href="https://vk.com/openedu" class="item">Вконтакте</a>#}
{#          <a href="https://www.instagram.com/urfu.ru/?hl=ru" class="item">Instagram</a>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</footer>#}

{% block modal %}{% endblock modal %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}

  <!-- Bootstrap JS and its dependencies-->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>


  <!-- Your stuff: Third-party javascript libraries go here -->
  <!-- place project specific Javascript in this file -->

  <script src="{% static 'js/project.js' %}"></script>


{% endblock javascript %}
</body>
</html>

