{% extends "base.html" %}
{% load static %}
{% load user_tags %}
{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-2 pb-0">
      <li class="breadcrumb-item"><a href="/"><i class="home icon"></i></a></li>
      <li class="breadcrumb-item active" aria-current="page">Мои дисциплины</li>
    </ol>
  </nav>
  <header class="pb-4 px-2">
    <h1>Учебно-методическое обеспечение дисциплин</h1>
  </header>

  <p>Студент: {{ student }}</p>
  <p>Образовательная программа/Направление подготовки: {{ direction }}</p>
  <p>Группа: {{ academic_group }}</p>
  <div id="filters" class="mb-3" aria-labelledby="filters" data-parent="">
    <form action="" method="get">
      <div class="form-group col-12 col-xl-2 col-md-6">
        <label for="id_semestr">Семестр:</label>
        <select name="semestr" class="custom-select" id="id_semestr">
          <option value="" selected="">---------</option>
          <option value="FIRST">Первый семестр</option>
          <option value="SECOND">Второй семестр</option>
        </select>
      </div>
      <div class="form-group col-12 col-xl-2 col-md-6">
        <input class="btn btn-secondary" type="submit">
      </div>
    </form>
  </div>

  {#  <button class="btn btn-primary mt-3 " data-toggle="collapse" data-target="#filters" aria-expanded="false"#}
  {#          aria-controls="filters">#}
  {#    Фильтры и поиск#}
  {#  </button>#}
  {#  <div class="row mb-3 px-3" id="accordion">#}
  {##}
  {#    <div id="filters" class="collapse mb-3" aria-labelledby="filters" data-parent="#accordion">#}
  {##}
  {#      <form action="" method="get">#}
  {#        <div class="form-row p-2 align-items-end">#}
  {#          <div class="form-group col-12 col-xl-2 col-md-6">#}
  {#            <label for="id_person__last_name__contains">Фамилия эксперта</label>#}
  {#              <input type="text" name="person__last_name__contains" class="form-control" value=""#}
  {#                     id="id_person__last_name__contains">#}
  {#          </div>#}
  {#          <div class="form-group col-12 col-xl-2 col-md-6">#}
  {#            <label for="id_person__first_name__contains">Имя эксперта</label>#}
  {#            <input type="text" name="person__first_name__contains" class="form-control" value=""#}
  {#                   id="id_person__first_name__contains">#}
  {#          </div>#}
  {#          <div class="form-group col-12 col-xl-2 col-md-6">#}
  {#            <label for="id_person__middle_name__contains">Отчество эксперта</label>#}
  {#            <input type="text" name="person__middle_name__contains" class="form-control" value=""#}
  {#                   id="id_person__middle_name__contains">#}
  {#          </div>#}
  {#          <div class="form-group col-12 col-xl-2 col-md-6">#}
  {#            <label for="id_format__contains">Подразделение / Отрасль: </label>#}
  {#            <input type="text" name="format__contains" class="form-control" value="" id="id_format__contains">#}
  {#          </div>#}
  {##}
  {#          <div class="form-group col-12 col-xl-2 col-md-6">#}
  {#            <label for="id_type">Вид экспертизы:</label> <select name="type" class="custom-select"#}
  {#                                                                 id="id_type">#}
  {#            <option value="" selected="">---------</option>#}
  {#            <option value="METHODIGAL">Методическая</option>#}
  {#            <option value="CONTENT">Содержательная</option>#}
  {#            <option value="TECH">Техническая</option>#}
  {#          </select>#}
  {#          </div>#}
  {#          <div class="form-group col-12 col-xl-2 col-md-6">#}
  {#            <input class="btn btn-primary btn-block pt-3" type="submit">#}
  {#          </div>#}
  {#        </div>#}
  {##}
  {#      </form>#}
  {#    </div>#}
  {#  </div>#}

  {% if request.user.is_authenticated %}
    <div class="row p-2">
      <div class="col-12 col-md-6 col-lg-7 col-xl-8 p-2">
        <div class="card h-100 shadow-1">
          <div class="card-body">
            {% if object_list %}
              <table class="ui compact table">
                <thead>
                <th>Дисциплины изучаемые студентом в текущем семестре</th>
                <th>Обеспечение дисциплин электронными образовательными ресурсами</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                  <tr>
                    <td>{{ object.subject }}</td>
                    <td>
                      <a class="btn btn-secondary">
                        Электронное обеспечение дисциплины определенное
                        преподавателем.
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% else %}
              Назначенные дисциплины в текущем семетре отсутсвуют.
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}


  {% if page_obj|length != 0 %}
    <div class="row p-2">
      <nav>
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?{% param_replace page=1 %}">&laquo; Начало</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}"
                 tabindex="-1">Назад</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="?page=1">&laquo; Начало</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="/" tabindex="-1">Назад</a>
            </li>
          {% endif %}

          {#    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>#}
          <li class="page-item">
            <a class="page-link">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}<span
                    class="sr-only">(current)</span></a>
          </li>
          {#    <li class="page-item"><a class="page-link" href="#">{{ page_obj.paginator.num_pages }}</a></li>#}

          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">Далее</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?{% param_replace page=page_obj.paginator.num_pages %}">Конец &raquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="">Далее</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="?{% param_replace page=page_obj.paginator.num_pages %}">Конец &raquo;</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  {% endif %}

  </div>
{% endblock %}
