{% extends "base.html" %}
{% load static bootstrap_icons %}
{% load user_tags %}
{% block content %}
  <script>
    url_site = "{{ settings.SITE_URL }}";
    url_global = url_site + "/api/v0/my_subject/";


    function ApiEUMK(event, sub) {
      url = url_global + "digital_complex/?subject__title=" + sub;
      event.target.onclick = ''
      event.target.disabled = true
      $.get(url, function (data) {
        $(event.target).parent().find('.container').append(data.results.map(el => $(`<a class="list-group-item" href="${url_site}/complexes/DigitalComplex/detail/${el.digital_complex_pk}/"><div class="d-flex w-100 justify-content-between">${el.digital_complex_cypher}</div></a>`)))
        if (data.results.length > 0) {
          $(event.target).hide();
        }
      });
    }

    function ApiRecomendedEOR(event, sub) {
      url = url_global + "digital_resource_recomend/?subjects=" + sub;
      event.target.onclick = ''
      event.target.disabled = true
      $.get(url, function (data) {
        $(event.target).parent().find('.container').append(data.results.map(el => $(`<a class="list-group-item" href="${url_site}/repository/DigitalResource/url/${el.pk}/"><div class="d-flex w-100 justify-content-between">${el.title}</div></a>`)))
        if (data.results.length > 0) {
          $(event.target).hide();
        }
      });
    }

    function ApiEOR(event, sub) {
      url = url_global + "digital_resource/?subjects=" + sub;
      event.target.onclick = ''
      event.target.disabled = true
      $.get(url, function (data) {
        $(event.target).parent().find('.container').append(data.results.map(el => $(`<a class="list-group-item" href="${url_site}/repository/DigitalResource/url/${el.pk}/"><div class="d-flex w-100 justify-content-between">${el.title}</div></a>`)))
        if (data.results.length > 0) {
          $(event.target).hide();
        }
      });
    }
  </script>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/">{% md_icon "bank-outline" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Мои дисциплины</li>
    </ol>
  </nav>
  <header><h1 class="display-3">Учебно-методическое обеспечение дисциплин</h1></header>

  <p>Студент: {{ student }}</p>
  <p>Образовательная программа/Направление подготовки: {{ direction }}</p>
  <p>Группа: {{ academic_group }}</p>
  {#  <div id="filters" class="mb-3" aria-labelledby="filters" data-parent="">#}
  {#    <form action="" method="get">#}
  {#      <div class="form-group col-12 col-xl-2 col-md-6">#}
  {#        <label for="id_semestr">Семестр:</label>#}
  {#        <select name="semestr" class="custom-select" id="id_semestr">#}
  {#          <option value="" selected="">---------</option>#}
  {#          <option value="FIRST">Первый семестр</option>#}
  {#          <option value="SECOND">Второй семестр</option>#}
  {#        </select>#}
  {#      </div>#}
  {#      <div class="form-group col-12 col-xl-2 col-md-6">#}
  {#        <input class="btn btn-secondary" type="submit">#}
  {#      </div>#}
  {#    </form>#}
  {#  </div>#}

  {#  <button class="btn btn-primary mt-3 " data-toggle="collapse" data-target="#filters" aria-expanded="false"#}
  {#          aria-controls="filters">#}
  {#    <i class="fas fa-search fa-lg"></i> Фильтры и поиск#}
  {#  </button>#}
  {#  <div class="row actions" id="accordion">#}
  {##}
  {#    <div id="filters" class="collapse mb-3" aria-labelledby="filters" data-parent="#accordion">#}
  {##}
  {#      <form action="" method="get">#}
  {#        <div class="form-row p-2 align-items-end">#}
  {#          <div class="form-group col-12 col-xl-2 col-md-6">#}
  {#            <label for="id_person__last_name__contains">Фамилия эксперта</label>#}
  {#              <input type="text" name="person__last_name__contains" class="form-control" value=""#}
  {#                     id="id_person__last_name__contains">#}
  {#          </div>#}
  {#          <div class="form-group col-12 col-xl-2 col-md-6">#}
  {#            <label for="id_person__first_name__contains">Имя эксперта</label>#}
  {#            <input type="text" name="person__first_name__contains" class="form-control" value=""#}
  {#                   id="id_person__first_name__contains">#}
  {#          </div>#}
  {#          <div class="form-group col-12 col-xl-2 col-md-6">#}
  {#            <label for="id_person__middle_name__contains">Отчество эксперта</label>#}
  {#            <input type="text" name="person__middle_name__contains" class="form-control" value=""#}
  {#                   id="id_person__middle_name__contains">#}
  {#          </div>#}
  {#          <div class="form-group col-12 col-xl-2 col-md-6">#}
  {#            <label for="id_format__contains">Подразделение / Отрасль: </label>#}
  {#            <input type="text" name="format__contains" class="form-control" value="" id="id_format__contains">#}
  {#          </div>#}
  {##}
  {#          <div class="form-group col-12 col-xl-2 col-md-6">#}
  {#            <label for="id_type">Вид экспертизы:</label> <select name="type" class="custom-select"#}
  {#                                                                 id="id_type">#}
  {#            <option value="" selected="">---------</option>#}
  {#            <option value="METHODICAL">Методическая</option>#}
  {#            <option value="CONTENT">Содержательная</option>#}
  {#            <option value="TECH">Техническая</option>#}
  {#          </select>#}
  {#          </div>#}
  {#          <div class="form-group col-12 col-xl-2 col-md-6">#}
  {#            <input class="btn btn-primary btn-block pt-3" type="submit">#}
  {#          </div>#}
  {#        </div>#}
  {##}
  {#      </form>#}
  {#    </div>#}
  {#  </div>#}


  {% if request.user.is_authenticated %}
    <div class="row p-2">
      <div class="col-12 p-2">

        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Дисциплины изучаемые студентом в текущем семестре</th>
            <th>Обеспечение дисциплин электронными образовательными ресурсами</th>
          </tr>
          </thead>
          <tbody>
          {% for sub in subjects.all %}
            <tr>
              <td>{{ sub.group_subject.subject }}</td>
              <td>
                <div>
                  <h4>Электронное обеспечение дисциплины определенное
                    преподавателем.</h4>
                  <button class="btn btn-outline-primary btn-sm" type="button"
                          onclick="ApiEUMK(event, `{{ sub.group_subject.subject }}`)">
                    Развернуть
                  </button>
                  <div class="container my-2 list-group"></div>
                </div>
                <div>
                  <h4>Рекомендованные ЭОР</h4>
                  <button class="btn btn-outline-primary btn-sm" type="button"
                          onclick="ApiRecomendedEOR(event,`{{ sub.group_subject.subject }}`)">
                    Развернуть
                  </button>
                  <div class="container my-2 list-group"></div>
                </div>
                <div>
                  <h4>ЭОР в каталоге</h4>
                  <button class="btn btn-outline-primary btn-sm" type="button" onclick="ApiEOR(event,`{{ sub.group_subject.subject }}`)">
                    Развернуть
                  </button>
                  <div class="container my-2 list-group"></div>
                </div>

                {#                      {% for item in sub.assignmentacademicgroup_set.all %}#}
                {#                        {% for object in object_list %}#}
                {#                          {% if object.subject == item.subject %}#}
                {#                            {{ item }}#}
                {##}
                {#                          {% endif %}#}
                {#                        {% endfor %}#}
                {#                      {% endfor %}#}
              </td>
            </tr>
          {% empty %}
            Назначенные дисциплины в текущем семетре отсутствуют.
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

  {% include "includes/paginator.html" %}

{% endblock %}
