{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load tz %}


{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  {% localtime on %}
    <div class="ui container">

      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}

      <form class="ui form segment" method="post">
        {% csrf_token %}
        <h2>Пользователь: {{ user.username }}</h2>
        <div class="three fields">
          <div class="field">
            {{ form }}
          </div>
        </div>
        <div class="right control-group">
          <div class="right controls">
            <button class="ui secondary submit button" type="submit">Сохранить</button>
            <a class="ui secondary submit button" href="{% url 'users:expert_list' %}">Закрыть</a>
          </div>
        </div>
      </form>
    </div>

  {% endlocaltime %}
{% endblock %}
