{% extends "base.html" %}
{% load static bootstrap_icons %}
{% load user_tags %}
{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/">{% md_icon "bank-outline" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Список экспертов</li>
    </ol>
  </nav>
  <h2 class="font-weight-light mt-4">Эксперты</h2>
  <button class="btn btn-primary mt-3 " data-toggle="collapse" data-target="#filters" aria-expanded="false" aria-controls="filters"><i class="fas fa-search fa-lg"></i> Фильтры и поиск</button>
  <a class="btn btn-primary mt-3 " href="{% url 'users:expert_create' %}"><i class="fas fa-user-plus"></i> Добавить эксперта </a>
  <div class="row actions" id="accordion">

    <div id="filters" class="collapse mb-3" aria-labelledby="filters" data-parent="#accordion">

      <form action="" method="get">
        <div class="form-row p-2 align-items-end">
          <div class="form-group col-12 col-xl-2 col-md-6">
            <label for="id_person__last_name__contains">Фамилия эксперта</label>
            <input type="text" name="person__last_name__contains" class="form-control" value="" id="id_person__last_name__contains">
          </div>
          <div class="form-group col-12 col-xl-2 col-md-6">
            <label for="id_person__first_name__contains">Имя эксперта</label>
            <input type="text" name="person__first_name__contains" class="form-control" value="" id="id_person__first_name__contains">
          </div>
          <div class="form-group col-12 col-xl-2 col-md-6">
            <label for="id_person__middle_name__contains">Отчество эксперта</label>
            <input type="text" name="person__middle_name__contains" class="form-control" value="" id="id_person__middle_name__contains">
          </div>
          <div class="form-group col-12 col-xl-2 col-md-6">
            <label for="id_format__contains">Подразделение / Отрасль</label>
            <input type="text" name="format__contains" class="form-control" value="" id="id_format__contains">
          </div>

          <div class="form-group col-12 col-xl-2 col-md-6">
            <label for="id_type">Вид экспертизы:</label> <select name="type" class="custom-select"
                                                                 id="id_type">
            <option value="" selected="">---------</option>
            <option value="METHODICAL">Методическая</option>
            <option value="CONTENT">Содержательная</option>
            <option value="TECH">Техническая</option>
          </select>
          </div>
          <div class="form-group col-12 col-xl-2 col-md-6">
            <input class="btn btn-primary btn-block pt-3" type="submit">
          </div>
        </div>

      </form>
    </div>
  </div>



  <div class="container ml-2">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>ФИО эксперта</th>
        <th>Вид экспертизы</th>
        <th>Подразделение / Отрасль</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{ object.person.first_name }} {{ object.person.middle_name }} {{ object.person.last_name }}</td>
          <td>{% for type in object.types.all %}{{ type }} {% endfor %}</td>
          <td>{{ object.subdivision }}</td>
          <td><a class="btn btn-outline-primary text-nowrap" href="{% url "users:expert_detail" slug=object.person.user %}"><i class="fas fa-info-circle fa-lg"></i> Подробнее</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% include "includes/paginator.html" %}
  </div>


  </div>
{% endblock %}


{#  <div class="ui container">#}
{#    <div class="ui segment">#}
{#      <div class="ui grid ">#}
{#        <div class="eleven wide column "><h2>Эксперты</h2></div>#}
{#      </div>#}
{#      <div class="ui relaxed divided items">#}
{#        {% for object in object_list %}#}
{#          <div class="item">#}
{#            <div class="content">#}
{#              <div class="header">{{ object.person.first_name }} {{ object.person.middle_name }} {{ object.person.last_name }}</div>#}
{#              <div class="meta">#}
{#                <span class="category">Вид экспертизы: {{ object.get_type_display }}</span>#}
{#              </div>#}
{#              <div class="meta">#}
{#                <span class="category">Подразделение / Отрасль: {{ object.get_subdivision_display }}</span>#}
{#              </div>#}
{#              <div class="extra">#}
{#                <div class="right floated author">#}
{#                  <a class="btn btn-primary mini" href="{{ object.get_absolute_url }}"><i class="eye outline icon"></i>Посмотреть</a>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        {% endfor %}#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#{% endblock content %}#}
