{% extends "base.html" %}
{% load crispy_forms_tags bootstrap_icons tz %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/">{% md_icon "bank-outline" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'users:expert_list' %}">Список экспертов</a></li>
      <li class="breadcrumb-item active" aria-current="page">Добавление эксперта</li>
    </ol>
  </nav>

  <h2 class="font-weight-light mt-4">Эксперт</h2>

  {% localtime on %}
    <div class="container">
      <form class="form-horizontal" method="post">
        {% csrf_token %}
        {% crispy form %}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary px-3">Сохранить</button>
            <a class="btn btn-secondary submit button" href="{% url 'users:expert_list' %}">Закрыть</a>
          </div>
        </div>

      </form>
    </div>

  {% endlocaltime %}
{% endblock %}
