{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <div class="ui container">
    <form class="ui form segment" method="post" action="{% url 'users:update' %}">
      {% csrf_token %}
      <h2>Пользователь: {{ user.username }}</h2>
      <div class="three fields">
        <div class="field">
          <label>{{ form.last_name.label }}</label>
          {{ form.last_name }}
        </div>
        <div class="field">
          <label>{{ form.first_name.label }}</label>
          {{ form.first_name }}
        </div>
        <div class="field">
          <label>{{ form.middle_name.label }}</label>
          {{ form.middle_name }}
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label>{{ form.location.label }}</label>
          {{ form.location }}
        </div>
        <div class="field">
          <label>{{ form.city.label }}</label>
          {{ form.city }}
        </div>
        <div class="field">
          <label>{{ form.country.label }}</label>
          {{ form.country }}
        </div>
      </div>
      <div class="field">
        <label>{{ form.date_birthday.label }}</label>
        <div class="ui calendar" id="standard_calendar">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            {{ form.date_birthday }}
          </div>
        </div>
      </div>
      <div class="field">
        <label>{{ form.avatar.label }}</label>
        {{ form.avatar }}
      </div>
      <div class="right control-group">
        <div class="right controls">
          <button class="ui secondary submit button" type="submit">Сохранить</button>
        </div>
      </div>
    </form>
  </div>
  <script>
    $('#standard_calendar').calendar({
      monthFirst: false,
      type: 'date',
      text: {
        days: ['ПН', 'ВТ', 'СР', 'ЧТ', 'ПТ', 'СБ', 'ВС'],
        months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
        today: 'Сегодня',
        now: 'Сейчас',
      },
      formatter: {
        date: function (date, settings) {
          if (!date) return '';
          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear();
          return day + '.' + month + '.' + year;
        }
      }
    });
  </script>
{% endblock %}
