{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      <p>ФИО: {{ person.last_name }} {{ person.first_name }} {{ person.middle_name }}</p>
      <p>Страна: {{ person.country }}</p>
      <p>Город: {{ person.city }}</p>
      <p>Адрес проживания: {{ person.location }}</p>
      <p>Дата рождения: {{ person.date_birthday }}</p>
      <p>Академическая группа: {{ student.academic_group }}</p>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

