{% extends "base.html" %}
{% load static bootstrap_icons %}
{% load user_tags %}
{% block content %}
  <div class="ui two column doubling grid" style="padding-left: 10em; padding-right: 10em;">
    <div class="ui segment three column doubling grid">
      <div class="ui grid ">
        <div class="eleven wide column "><h2>Мои ресурсы</h2></div>
        <div class="five wide column ">
          <a class="ui  button " href="{% url 'repository:repository_DigitalResource_create' %}">
            <i class="plus icon"></i>Добавить ресурс</a>
        </div>
      </div>
      <div class="ui relaxed divided items">
        {% for object in my_resource %}
          <div class="item">
            <div class="content">
              <div class="header">{{ object.title }}</div>
              <div class="meta">
                <span class="category">Тип ресура: {{ object.get_type_display }}</span>
              </div>
              <div class="description">
                {{ object.description }}
              </div>
              <div class="extra">
                <div class="left floated author">
                  {% md_icon "bank-outline" %}
                  {{ object.copyright_holder }}
                </div>
                <div class="right floated author">
                  <a class="btn btn-primary mini" href="{{ object.get_absolute_url }}"><i class="eye outline icon"></i>Посмотреть</a>
                  <a class="btn btn-primary mini" href="{{ object.get_update_url }}"><i class="pen icon"></i>Редактировать</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
