{% extends "base.html" %}
{% load static %}
{% load user_tags %}
{% block content %}
  <div class="container">
    {% for item in obj_plan %}
      <div class="ui segment">
        <h4>Образовательная программа/Направление: {{ item.edu_program }}</h4>
        <div class="ui two column stackable grid">
          <div class="column">
            <h4>Академическая группа: {{ academic_group }}</h4>
          </div>
          <div class="column">
            <h4>Семестр: {{ item.semestr }}</h4>
          </div>
          <div class="column">
            <h4>ФИО: {{ person.last_name }} {{ person.first_name }} {{ person.middle_name }}</h4>
          </div>
        </div>

        {#        {% for obj in academic_group %}#}
        {#          {{ obj }}#}
        {#        {% endfor %}#}

        {#      <h2>{{ object.username }}</h2>#}
        {#      <p>ФИО: {{ person.last_name }} {{ person.first_name }} {{ person.middle_name }}</p>#}
        {#      <p>Страна: {{ person.country }}</p>#}
        {#      <p>Город: {{ person.city }}</p>#}
        {#      <p>Адрес проживания: {{ person.location }}</p>#}
        {#      <p>Дата рождения: {{ person.date_birthday }}</p>#}
        {#      <p>Академическая группа: {{ student.academic_group }}</p>#}

        <table class="ui celled table">
          <thead>
          <tr>
            <th>Дисциплина</th>
            <th>Цифровое обеспечение дисциплины, определенное преподавателем</th>
            <th>Рекомендуемые цифровые ресурсы</th>
            <th>Цифровые ресурсы, имеющиеся в каталоге</th>
          </tr>
          </thead>
          <tbody>
          {% for sub in item.subject.all %}
            <tr>
              <td data-label="Дисциплина">{{ sub }} <br/>({{ sub.labor }} ч.)</td>
              <td data-label="Цифровое обеспечение дисциплины, определенное преподавателем"></td>
              <td data-label="Рекомендуемые цифровые ресурсы">
                {% for res in item.digital_resource.all %}
                  {% for dis in res.provided_disciplines.all %}
                    {% for state in status %}
                      {% if dis.subject == sub and dis.edu_program == item.edu_program and state.expertise_status.accepted_status and state.digital_resource == res %}
                        <div class="ui cards">
                          <div class="card">
                            <div class="content">
                              <div class="header">{{ res.title }}</div>
                              <div class="description">
                                Тип ресура: {{ res.get_type_display }}
                              </div>
                            </div>
                            <a class="ui bottom attached button" href="{{ res.get_absolute_url }}">
                              <i class="sign in alternate icon"></i>
                              Перейти к
                              обеспечению
                            </a>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endfor %}
              </td>
              <td data-label="Цифровые ресурсы, имеющиеся в каталоге">
                {% for res in item.digital_resource.all %}
                  {% for sub_tag in res.subjects_tags.all %}
                    {% for edu_tag in res.edu_programs_tags.all %}
                      {% if sub == sub_tag.tag and item.edu_program == edu_tag.tag %}
                        <div class="ui cards">
                          <div class="card">
                            <div class="content">
                              <div class="header">{{ res.title }}</div>
                              <div class="description">
                                Тип ресура: {{ res.get_type_display }}
                              </div>
                            </div>
                            <a class="ui bottom attached button" href="{{ res.get_absolute_url }}">
                              <i class="sign in alternate icon"></i>
                              Перейти к
                              обеспечению
                            </a>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <br/>
    {% endfor %}

  </div>
{% endblock content %}
