{% extends "base.html" %}
{% load static %}
{% load user_tags %}
{% block content %}
  <main role="main" class="col-md-9 col-lg-10 pt-3 px-4">

    {% for item in obj_plan %}
      <div class="d-block row px-3">
        <p class="lead">{{ person.last_name }} {{ person.first_name }} {{ person.middle_name }}</p>

        <p class="font-weight-bold">{{ item.edu_program }}<br/>
          {{ academic_group }}<br/>
          {{ item.semestr }} семестр</p>
      </div>

      <table class="table table-bordered mt-4 work-plan">
        <thead>
        <tr>
          <th scope="col" class="align-top">Дисциплина</th>
          <th scope="col" class="align-top">Цифровое обеспечение дисциплины, определенное преподавателем</th>
          <th scope="col" class="align-top">Рекомендуемые цифровые ресурсы</th>
          <th scope="col" class="align-top">Цифровые ресурсы, имеющиеся в каталоге</th>
        </tr>
        </thead>
        <tbody>
        {% for sub in item.subject.all %}
          <tr>
            <td data-label="Дисциплина"><p class="font-weight-bold align-right">{{ sub }}
              {% if sub.labor != "None" %}
                <span class="d-block text-secondary">{{ sub.labor }} ч.</span>
              {% endif %}
            </p></td>
            <td data-label="Цифровое обеспечение дисциплины, определенное преподавателем"></td>
            <td data-label="Рекомендуемые цифровые ресурсы">
              {% get_resources DR subject=sub edu_program=item.edu_program %}
            </td>
            <td data-label="Цифровые ресурсы, имеющиеся в каталоге">
              {% get_resources DR subject=sub %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <br/>
    {% endfor %}

  </main>
{% endblock content %}
