{% extends "base.html" %}
{% load crispy_forms_tags bootstrap_icons %}
{% load static %}
{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/">{% md_icon "bank-outline" %}</a></li>
      <li class="breadcrumb-item"><a href="/">Каталог ЭОР</a></li>
      <li class="breadcrumb-item"><a href="{% url 'complexes:complexes_DigitalComplexMy_list' %}">Каталог
        ЭУМК</a></li>
      <li class="breadcrumb-item"><a
        href="{% url 'complexes:complexes_DigitalComplex_detail' pk=dig_complex.pk %}">ЭУМК
        "{{ dig_complex.subjects_set.all.0 }} - {{ dig_complex.owner }} [{{ dig_complex.format }}] </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Редактирование Литературный источник</li>
    </ol>
  </nav>

  <div class="row p-2">
    <div class="col-12 p-2">
      <div class="card h-100 border-secondary shadow-2">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.media.css }}
            {{ form|crispy }}
            <input type="submit" value="Сохранить" class="btn btn-primary">
            <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Отмена</a>
          </form>
          {{ form.media.js }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
