{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-2 pb-0">
      <li class="breadcrumb-item"><a href="/"><i class="home icon"></i></a></li>
      <li class="breadcrumb-item"><a href="/">Список ЭОР</a></li>
      <li class="breadcrumb-item"><a href="{% url 'complexes:complexes_DigitalComplexMy_list' %}">Мои
        ЭУМК</a></li>
      <li class="breadcrumb-item"><a
              href="{% url 'complexes:complexes_DigitalComplex_detail' pk=dig_complex.pk %}">ЭУМК {{ dig_complex.keywords }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Добавление компонентов ЭУМК</li>
    </ol>
  </nav>
  <header class="pb-4 px-2">
    <h1>Добавление компонентов ЭУМК</h1>
    <h4>
      По дисциплине(ам)
      {% for subject in dig_complex.subjects.all %}
        {{ subject }}
      {% endfor %}
      образовательной программы
      {% for direction in dig_complex.directions.all %}
        {{ direction }}
      {% endfor %}
    </h4>
  </header>
  <div class="row p-2">
    <div class="col-12 p-2">
      <div class="card h-100 shadow-1">
        <div class="card-body">
          <form method="post" class="">
            {% csrf_token %}
            {{ form.errors }}
            {{ form.non_field_errors }}
            {{ form.media.css }}
            <table class="ui compact table">
              <thead>
              <h5>Компоненты ЭОР: </h5>
              <tr>
                <th>ЭОР</th>
                <th>Описание / Методика применения</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% for component in resource_components %}
                <tr>
                  <td>{{ component.digital_resource }}</td>
                  <td>{{ component.description }}</td>
                  <td><a class="btn "
                         href="{% url 'complexes:complexes_ResourceComponent_delete' pk=component.pk %}">X</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

            <table class="ui compact table">
              <thead>
              <h5>Компоненты Платформ: </h5>
              <tr>
                <th>Платформа</th>
                <th>Описание / Методика применения</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% for component in platform_components %}
                <tr>
                  <td>{{ component.platform }}</td>
                  <td>{{ component.description }}</td>
                  <td><a class="btn "
                         href="{% url 'complexes:complexes_PlatformComponent_delete' pk=component.pk %}">X</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

            <table class="ui compact table">
              <thead>
              <h5>Компоненты традиционных занятий:</h5>
              <tr>
                <th>Наименование</th>
                <th>Описание / Методика применения</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% for component in traditional_components %}
                <tr>
                  <td>{{ component.title }}</td>
                  <td>{{ component.description }}</td>
                  <td><a class="btn "
                         href="{% url 'complexes:complexes_TraditionalSessionComponent_delete' pk=component.pk %}">X</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

            {#            <div class="form-group">#}
            {#              <label>{{ form.keywords.label }}</label>#}
            {#              {{ form.keywords }}#}
            {#            </div>#}
            {#            <div class="form-group">#}
            {#              <label>{{ form.language.label }}</label>#}
            {#              {{ form.language }}#}
            {#            </div>#}
            {#            <div class="form-group">#}
            {#              <label>{{ form.subjects.label }}</label>#}
            {#              {{ form.subjects }}#}
            {#              <p class="text-muted">Начните вводить название дисциплины.</p>#}
            {#            </div>#}
            {#            <div class="form-group">#}
            {#              <label>{{ form.directions.label }}</label>#}
            {#              {{ form.directions }}#}
            {#              <p class="text-muted">Начните вводить название направления или код направления.</p>#}
            {#            </div>#}
            {#            <div class="form-group">#}
            {#              <label>{{ form.competences.label }}</label>#}
            {#              {{ form.competences }}#}
            {#              <p class="text-muted">Начните вводить название компетенции или код компетенции.</p>#}
            {#            </div>#}
            {#            <div class="form-group">#}
            {#              <label>{{ form.results_edu.label }}</label>#}
            {#              {{ form.results_edu }}#}
            {#              <p class="text-muted">Начните вводить название результата обучения.</p>#}
            {#            </div>#}
            <div class="ui segment">
              <a class="btn btn-primary"
                 href="{% url 'complexes:complexes_ResourceComponent_create' pk=dig_complex.pk %}">+ ЭОР</a>
              <a class="btn btn-primary"
                 href="{% url 'complexes:complexes_PlatformComponent_create' pk=dig_complex.pk %}">+ Платформа</a>
              <a class="btn btn-primary"
                 href="{% url 'complexes:complexes_TraditionalSessionComponent_create' pk=dig_complex.pk %}">+ Традиционные занятия</a>
            </div>
            <input type="submit" value="Сохранить" class="btn btn-primary">
            <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Отмена</a>
          </form>
{#          {{ form.media.js }}#}
        </div>
      </div>
    </div>
  </div>
  </form>
  </div>
{% endblock %}
