{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-2 pb-0">
      <li class="breadcrumb-item"><a href="/"><i class="home icon"></i></a></li>
      <li class="breadcrumb-item"><a href="/">Список ЭОР</a></li>
      <li class="breadcrumb-item"><a href="{% url 'complexes:complexes_DigitalComplexMy_list' %}">Мои
        ЭУМК</a></li>
      <li class="breadcrumb-item"><a
              href="{% url 'complexes:complexes_DigitalComplex_detail' pk=dig_complex.pk %}">ЭУМК {{ dig_complex.keywords }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Добавление компонентов ЭУМК</li>
    </ol>
  </nav>
  <header class="pb-4 px-2">
    <h1>Добавление компонентов ЭУМК</h1>
  </header>
  <div class="row p-2">
    <div class="col-12 p-2">
      <div class="card h-100 shadow-1">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.errors }}
            {{ form.non_field_errors }}
            {{ form.media.css }}

            {{ form }}
            <table class="ui compact table">
              <thead>
              <tr>
                <th>Наименоваие компонента</th>
                <th>URL компонента</th>
                <th>Тип компонента</th>
              </tr>
              </thead>
              <tbody>
              {% for item in form %}
                <tr>
                  <td>{{ item }}</td>
                  <td>{{ item }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

            <div class="form-group">
              <label>{{ form.keywords.label }}</label>
              {{ form.keywords }}
            </div>
            <div class="form-group">
              <label>{{ form.language.label }}</label>
              {{ form.language }}
            </div>
            <div class="form-group">
              <label>{{ form.subjects.label }}</label>
              {{ form.subjects }}
              <p class="text-muted">Начните вводить название дисциплины.</p>
            </div>
            <div class="form-group">
              <label>{{ form.directions.label }}</label>
              {{ form.directions }}
              <p class="text-muted">Начните вводить название направления или код направления.</p>
            </div>
            <div class="form-group">
              <label>{{ form.competences.label }}</label>
              {{ form.competences }}
              <p class="text-muted">Начните вводить название компетенции или код компетенции.</p>
            </div>
            <div class="form-group">
              <label>{{ form.results_edu.label }}</label>
              {{ form.results_edu }}
              <p class="text-muted">Начните вводить название результата обучения.</p>
            </div>
            <input type="submit" value="Сохранить" class="btn btn-primary">
            <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Отмена</a>
          </form>
          {{ form.media.js }}
        </div>
      </div>
    </div>
  </div>
  </form>
  </div>
{% endblock %}
