{% extends "base.html" %}
{% load static user_tags crispy_forms_tags bootstrap_icons %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/">{% md_icon "bank-outline" %}</a></li>
      {% if request.user|has_group:"student" %}
        <li class="breadcrumb-item"><a
          href="{% url 'complexes:complexes_AssignmentAcademicGroupMy_list' request.user %}">Мои
          дисциплины</a></li>
        <li class="breadcrumb-item active" aria-current="page">Электронное обеспечение дисциплины</li>
      {% else %}
        <li class="breadcrumb-item"><a href="{% url 'complexes:complexes_DigitalComplex_list' %}">Каталог ЭУМК</a></li>
        <li class="breadcrumb-item active" aria-current="page">Паспорт ЭУМК</li>
      {% endif %}
    </ol>
  </nav>
  <header class="pb-4 px-2">
    {% if request.user|has_owner_complex:object or request.user.is_superuser %}
      <a class="btn btn-primary float-right" href="{{ object.get_update_url }}">{% md_icon "pencil-outline" %} Редактировать</a>
    {% endif %}
    {% if request.user|has_group:"student" %}
      <h1>Электронное обеспечение дисциплины
      {% for obj in object.subjects.all %}<span class="font-weight-bolder">{{ obj }}</span>{% endfor %}
    {% else %}
      <h1>Электронный учебно-методический комплекс по дисциплине(ам)
      {% for obj in object.subjects.all %}<span class="font-weight-bolder">{{ obj }}</span>{% endfor %}
    {% endif %}
    {% include "includes/subtitle.html" with subtitle="Паспорт электронного учебно-методического комплекса" %}
    </h1>
  </header>
  <div class="row p-2">
    <div class="col-12 col-md-6 col-lg-7 col-xl-8 p-2">
      <div class="card h-100 border-secondary shadow-2">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Дисциплины</h6>
          {% for obj in object.subjects.all %}
            <p>{{ obj }}</p>

          {% empty %}
            {% include "includes/empty_alert.html" with msg="Дисциплины отсутствуют" %}
          {% endfor %}
          <hr>
          <h6 class="card-subtitle mb-2 text-muted">Направления подготовки/Образовательная программа:</h6>
          {% for obj in object.directions.all %}
            <p>{{ obj }}</p>

          {% empty %}
            {% include "includes/empty_alert.html" with msg="Направления подготовки отсутствуют" %}
          {% endfor %}
          <hr>
          {% if object.format %}
            <h6 class="card-subtitle mb-2 text-muted">Формат использования:</h6>
            <p>{{ object.get_format_display }}</p>
            <hr>
          {% endif %}
          {% if object.form_control %}
            <h6 class="card-subtitle mb-2 text-muted">Форма контроля:</h6>
            <p>{{ object.get_form_control_display }}</p>
          {% else %}
            {% include "includes/empty_alert.html" with msg="Форма контроля отсутствует" %}
            <hr>
          {% endif %}
          {% if object.description %}
            <h6 class="card-subtitle mb-2 text-muted">Описание:</h6>
            <p>{{ object.description }}</p>
          {% else %}
            {% include "includes/empty_alert.html" with msg="Описание отсутствует" %}
            <hr>
          {% endif %}
          <h6 class="card-subtitle mb-2 text-muted">Компетенции:</h6>
          {% for obj in object.competences.all %}
            <p>{{ obj }}</p>
          {% empty %}
            {% include "includes/empty_alert.html" with msg="Компетенции отсутствуют" %}
          {% endfor %}
          <hr>
          <h6 class="card-subtitle mb-2 text-muted">Результаты обучения:</h6>
          <h5 class="card-title"></h5>
          {% if object.results_edu.all %}
            <ul class="list-unstyled">
              {% for object in object.results_edu.all %}
                {% include "repository/result_edu.html"  with object=object %}
              {% endfor %}
            </ul>
          {% else %}
            {% include "includes/empty_alert.html" with msg="Результаты обучения отсутствуют" %}
          {% endif %}
          <hr>
          {% if object.keywords %}
            <h6 class="card-subtitle mb-2 text-muted">Ключевые слова:</h6>
            <p>
              {% for keyword in object.keywords.all %}
                <span class="badge badge-light">{{ keyword }}</span>
              {% empty %}
                {% include "includes/empty_alert.html" with msg="Ключевые слова отсутствуют" %}
              {% endfor %}
            </p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-5 col-xl-4 p-2">
      <div class="card shadow-1">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Владелец:</h6>
          {% if object.owner %}
            <h5 class="card-title"> {{ object.owner }}</h5>
          {% else %}
            {% include "includes/empty_icon.html" %}
          {% endif %}
          <hr>
          <h6 class="card-subtitle mb-2 text-muted">Язык ресурса:</h6>
          {% if object.language.title %}
            <h5 class="card-title"> {{ object.language.title }}</h5>
          {% else %}
            {% include "includes/empty_icon.html" %}
          {% endif %}


        </div>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-12 col-md-6 col-lg-7 col-xl-8 p-2">
      <div class="card shadow-1 p-3">
        <h5 class="card-subtitle mb-2 text-muted">Компоненты ЭУМК:</h5>
        {% if component_complex.all %}
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th>Компонент</th>
              <th>Описание / Методика применения</th>
            </tr>
            </thead>
            <tbody>
            {% for component in component_complex %}
              <tr>
              <td>{{ component.order }}</td>
              <td>
                {% if "компонентЭОР" in component.polymorphic_ctype|cut:" " %}
                  <a href="{% url 'repository:repository_DigitalResource_detail' pk=component.digital_resource.pk %}">{{ component.digital_resource }}</a>
                {% elif "средаобучения" in component.polymorphic_ctype|cut:" " %}
                  <a href="{{ component.url }}">{{ component }}</a>
                {% elif "литературныйисточник" in component.polymorphic_ctype|cut:" " %}
                  <a href="{{ component.url }}">{{ component }}</a>
                {% elif "синхронноезанятие" in component.polymorphic_ctype|cut:" " %}
                  <a href="{{ component.url }}">{{ component }}</a>
                {% else %}
                  <a href="{{ component.url }}">{{ component }}</a>
                {% endif %}
              </td>
              <td>{{ component.description }}</td>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          {% include "includes/empty_alert.html" with msg="Компоненты ЭУМК отсутствуют" %}
        {% endif %}
      </div>
    </div>
    {% if request.user|has_owner_complex:object %}
      <div class="col-4 p-2">
        {% if component_complex.all %}
          <a href="{% url 'complexes:complexes_ComplexParentComponent_list' pk=object.pk %}"
             class="btn btn-block btn-primary">{% md_icon "pencil-outline" %}Редактировать состав компонентов</a>
        {% else %}
          <a href="{% url 'complexes:complexes_ComplexParentComponent_list' pk=object.pk %}"
             class="btn btn-block btn-primary">{% md_icon "plus" %} Добавить компоненты в ЭУМК</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
  <div class="row p-2 d-none">
    TODO: Implement
    <div class="col-12 col-md-6 col-lg-7 col-xl-8 p-2">
      <div class=" card shadow-1 p-3">
        <h5 class="card-subtitle mb-2 text-muted">Структурно-тематический план: </h5>
        Структурно-тематический план отсутсвует
      </div>
      <br/>
    </div>
    {% if request.user|has_owner_complex:object %}
      <div class="col-4 p-2">
        <a href="{% url 'complexes:complexes_ThematicPlan_detail' pk=object.pk %}"
           class="btn btn-block btn-primary">{% md_icon "pencil-outline" %} Редактировать структурно-тематический план</a>
      </div>
    {% endif %}
  </div>
  <div class="row p-2">
    <div class="col-12 col-md-6 col-lg-7 col-xl-8 p-2">
      <div class="card shadow-1 p-3">
        <h5 class="card-subtitle mb-2 text-muted">Назначение академическим группам: </h5>
        {% if assigment_academic_group.all %}
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Академическая группа</th>
              <th>Дисциплина</th>
              <th>Учебный год</th>
            </tr>
            </thead>
            <tbody>
            {% for component in assigment_academic_group %}
              <tr>
              <td>{{ component.academic_group }}</td>
              <td>{{ component.group_subject }}</td>
              <td>{{ component.learn_date }}</td>
              {#                <td>{{ component.semestr }}</td>#}
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          {% include "includes/empty_alert.html" with msg="Назначенные группы отсутствуют" %}
        {% endif %}
      </div>
    </div>
    {% if request.user|has_owner_complex:object %}
      <div class="col-4 p-2">
        <div class="shadow-1">
          {% if assigment_academic_group.all %}
            <a href="{% url 'complexes:complexes_AssignmentAcademicGroup_list' digital_complex_pk=object.pk %}" class="btn btn-block btn-primary">{% md_icon "pencil-outline" %}Изменить назначение академических групп</a>
          {% else %}
            <a href="{% url 'complexes:complexes_AssignmentAcademicGroup_list' digital_complex_pk=object.pk %}" class="btn btn-block btn-primary">{% md_icon "pencil-outline" %}Назначить академическим группам</a>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {#  {% if request.user|has_owner_complex:object %}#}
    {#    <div class="col-4 p-2">#}
    {#      <div class="card shadow-1">#}
    {#        {% if assigment_academic_group.all %}#}
    {#          <a href="{% url 'complexes:complexes_AssignmentAcademicGroup_list' digital_complex_pk=object.pk %}"#}
    {#             class="btn btn-block btn-primary"><i class="pen icon"></i>Изменить назначение академических#}
    {#            групп</a>#}
    {#        {% else %}#}
    {#          <a href="{% url 'complexes:complexes_AssignmentAcademicGroup_list' digital_complex_pk=object.pk %}"#}
    {#             class="btn btn-block btn-primary"><i class="pen icon"></i>Назначить академическим группам</a>#}
    {#        {% endif %}#}
    {#      </div>#}
    {#    </div>#}
    {#  {% endif %}#}
  </div>
{% endblock %}
