{% extends "base.html" %}
{% load user_tags bootstrap_icons %}
{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/">{% md_icon "bank-outline" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Список ЭУМК</li>
    </ol>
  </nav>
  <header><h1 class="display-3">Мои электронные учебно-методические комплексы</h1></header>
  <button class="btn btn-primary mt-3 " data-toggle="collapse" data-target="#filters" aria-expanded="false"
          aria-controls="filters"><i class="fas fa-search fa-lg"></i> Фильтры и поиск
  </button>
  <a class="btn btn-primary mt-3 " href="{% url 'complexes:complexes_DigitalComplex_create' %}"> Создать ЭУМК </a>
  <div class="row actions" id="accordion">
    <div id="filters" class="collapse mb-3" aria-labelledby="filters" data-parent="#accordion">
      <form action="" method="get">
        <div class="form-row p-2 align-items-end">
          <div class="form-group col-12 col-xl-3 col-md-6">
            <label for="id_subjects__title__icontains">Дисциплина</label>
            <input type="text" name="subjects__title__icontains" class="form-control" value=""
                   id="id_subjects__title__icontains">
          </div>
          <div class="form-group col-12 col-xl-3 col-md-6">
            <label for="id_directions__title__icontains">Направление / ОП </label>
            <input type="text" name="directions__title__icontains" class="form-control" value=""
                   id="id_directions__title__icontains">
          </div>
          <div class="form-group col-12 col-xl-3 col-md-6">
            <label for="id_competences__title__icontains">Компетенция</label>
            <input type="text" name="competences__title__icontains" class="form-control" value=""
                   id="id_competences__title__contains">
          </div>
          <div class="form-group col-12 col-xl-3 col-md-6">
            <label for="id_keywords__icontains">Ключевые слова</label>
            <input type="text" name="keywords__icontains" class="form-control" value="" id="id_keywords__icontains">
          </div>
          <div class="form-group col-12 col-xl-3 col-md-6">
            <label for="id_format__icontains">Формат использования</label>
            <input type="text" name="format__icontains" class="form-control" value="" id="id_format__icontains">
          </div>

          <div class="form-group col-12 col-xl-3 col-md-6">
            <label for="id_language">Язык ЭУМК:</label> <select name="language" class="custom-select"
                                                                id="id_language">
            <option value="" selected="">---------</option>
            <option value="ru">Русский</option>
            <option value="en">Английский</option>
          </select>
          </div>
          <div class="form-group col-12 col-xl-2 col-md-6">
            <input class="btn btn-primary btn-block pt-3" type="submit">
          </div>
        </div>

      </form>
    </div>
  </div>



  {#  <div class="row p-2">#}
  {#    {% if page_obj|length != 0 %}#}
  {#      {% for object in page_obj %}#}
  {#        <div class="col-12 col-md-6 col-lg-6 col-xl-4 p-2">#}
  {#          <div class="card h-100 border-secondary shadow-2">#}
  {#            <div class="card-header pb-0">#}
  {#              <p class="mb-2 text-muted float-right">{% md_icon "bank-outline" %}</i>#}
  {#                {{ object.copyright_holder }}#}
  {#              </p>#}
  {#              <p class="mb-2 text-muted">{{ object.get_type_display }}</p>#}
  {#            </div>#}
  {#            <div class="card-body">#}
  {#              <h5 class="card-title">{{ object.title }}</h5>#}
  {#            </div>#}
  {#            <div class="card-footer">#}
  {#              {% if object.get_url %}#}
  {#                <a href="{{ object.get_url }}" class="card-link">К материалам</a>#}
  {#              {% else %}#}
  {#                <a href="{{ object.get_url }}" disabled="disabled" class="card-link disabled">К материалам</a>#}
  {#              {% endif %}#}
  {#              <a href="{{ object.get_absolute_url }}" class="card-link"><i class="fas fa-info-circle fa-lg"></i> Подробнее</a>#}
  {#            </div>#}
  {##}
  {#          </div>#}
  {#        </div>#}
  {#      {% endfor %}#}
  {#    {% endif %}#}
  {#  </div>#}

  <div class="row p-2">

    {% for object in object_list %}
      <div class="col-12 col-lg-6 col-xl-4 p-2">
        <div class="card border-secondary h-100 shadow-2">
          <div class="card-header m-0">
            <p class="float-right m-0"><i class="fas fa-university"></i> {{ object.copyright_holder }}</p>
            <p class="">ЭУМК</p>
          </div>
          <div class="card-body">
            <h5 class="card-title lead">{{ object.keywords }}</h5>
          </div>
          <div class="card-footer">
            <a href="{{ object.get_absolute_url }}" class="btn btn-sm btn-outline-primary mb-1"><i
              class="fas fa-info-circle fa-lg"></i> Подробнее</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>У Вас нет комплексов</p>
    {% endfor %}
  </div>
  {% include "includes/paginator.html" %}
  </div>
{% endblock %}
