{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-2 pb-0">
      <li class="breadcrumb-item"><a href="/"><i class="home icon"></i></a></li>
      <li class="breadcrumb-item"><a href="/">Список ЭОР</a></li>
      <li class="breadcrumb-item"><a
              href="{% url 'complexes:complexes_AssignmentAcademicGroup_list' digital_complex_pk=object.digital_complex.pk %}">
        Назначение академических групп для {{ object.digital_complex }}
      </a></li>
      {#      <li class="breadcrumb-item"><a#}
      {#              href="{% url 'complexes:complexes_DigitalComplex_detail' pk=dig_complex.pk %}">ЭУМК#}
      {#        {{ dig_complex.keywords }} {{ dig_complex.title }}</a>#}
      {#      </li>#}
      <li class="breadcrumb-item active" aria-current="page">Удаление назначения акдаемической
        группы {{ object.academic_group }} {{ object.learn_date }} учебного года дисциплины {{ object.subject }} для
        ЭУМК {{ object.digital_complex }}
      </li>
    </ol>
  </nav>

  <div class="row p-2">
    <div class="col-12 p-2">
      <div class="card h-100 shadow-1">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.errors }}
            {{ form.non_field_errors }}
            {{ form.media.css }}
            <h1>Уверены что хотите удалить это назначение для акадумичкой группы {{ object.academic_group }} ?</h1>
            {{ form }}
            <input type="submit" value="Удалить" class="btn btn-primary">
            <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Отмена</a>
          </form>
          {{ form.media.js }}
        </div>
      </div>
    </div>
  </div>
  </form>
  </div>
{% endblock %}
