{% extends "base.html" %}
{% load static bootstrap_icons %}
{% load user_tags %}
{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb px-3 pb-0">
      <li class="breadcrumb-item"><a href="/">{% md_icon "bank-outline" %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'complexes:complexes_DigitalComplex_list' %}">Каталог ЭУМК</a></li>
      <li class="breadcrumb-item"><a
        href="{% url 'complexes:complexes_DigitalComplex_detail' pk=dig_complex.pk %}">{{ dig_complex }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Назначенные академические группы</li>
    </ol>
  </nav>

  <header><h1 class="display-3">Назначенные академические группы ЭУМК по дисциплине(ам) "{% for i in dig_complex.subjects.all %} {{ i }} {% endfor %}"</h1></header>

  {% if request.user.is_authenticated %}
    <div class="row p-2">
      <div class="col-12 col-lg-12 col-xl-10 p-2">
        <div class="card border-secondary shadow-2 h-100">
          <div class="card-header"><h5>Назначенные академические группы ЭУМК по дисциплине(ам) "{% for i in dig_complex.subjects.all %} {{ i }} {% endfor %}"</h5></div>
          <div class="card-body">
            {% if object_list %}
              <table class="table table-striped table-bordered col-12 col-lg-12 col-xl-10">
                <thead>
                <th>Академическая группа</th>
                <th>Дисциплина/Семестр</th>
                <th>Учебный год</th>
                <th></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                  <tr>
                  <td>{{ object.academic_group }}</td>
                  <td>{{ object.group_subject }}</td>
                  <td>{{ object.learn_date }}</td>
                  <td><a class="btn btn-outline-primary text-nowrap"
                         href="{% url 'complexes:complexes_AssignmentAcademicGroup_update' pk=object.pk %}"><i class="fas fa-edit"></i> Редактировать</a>
                  </td>
                  <td><a class="btn btn-primary"
                         href="{% url 'complexes:complexes_AssignmentAcademicGroup_delete' pk=object.pk %}"><i class="fas fa-trash-alt"></i></a></td>
                {% endfor %}
                </tbody>
              </table>
            {% else %}
              Назначенные группы отсутсвуют
            {% endif %}
          </div>
          <a class="btn btn-outline-primary"
             href="{% url 'complexes:complexes_AssignmentAcademicGroup_create' digital_complex_pk=dig_complex.pk %}"><i class="fas fa-plus"></i>
            Добавить</a>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}
